<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      lang="vi">
<head th:replace="fragments/html-head">
    <meta charset="utf-8">
    <title>Chỉnh sửa gói cước</title>
</head>

<body>
<form th:action="@{/edit-area}" method="post" th:object="${area}">
    <table class="table table-condensed col">
        <tr>
            <input type="hidden" id="id" name="areaId" th:field="*{areaId}">
            <td>
                <label for="areaCodeEdit">Mã khu vực<b class="required">(*)</b></label>
                <input type="text" name="areaCode" th:field="*{areaCode}" class="form-control"
                       placeholder="Mã khu vực" id="areaCodeEdit" autocomplete="off" readonly>
                <span class="required" id="messageAreaCode"></span>
            </td>
        </tr>
        <tr>
            <td>
                <label for="areaNameEdit">Tên khu vực <b class="required">(*)</b></label>
                <input type="text" name="areaName" th:field="*{areaName}" class="form-control"
                       placeholder="Tên khu vực" id="areaNameEdit" autocomplete="off">
                <span class="required" id="messageAreaName"></span>
            </td>
        </tr>
        <tr>
            <td>
                <label for="areaTaxEdit">Mã số thuế<b class="required">(*)</b></label>
                <input type="text" name="areTax" th:field="*{taxCode}" class="form-control"
                    placeholder="Mã số thuế" id="areaTaxEdit" autocomplete="off"
                >
            </td>
        </tr>
        <tr>
            <td>
                <label for="description">Mô tả</label>
                <textarea  name="description" th:field="*{description}" class="form-control"
                           placeholder="Mô tả" id="description" autocomplete="off"></textarea>
            </td>
        </tr>
        <tr class='control'>
            <td colspan='4' align='center'>
                <button type="submit" class="btn btn-primary button-control" id="doEdit"><i
                        class="fa fa-pencil" aria-hidden="true"></i>
                    Chỉnh sửa
                </button>
                <button type="button" id="doBack" data-dismiss="modal" class="btn btn-primary button-control" >
                    <i class="fa fa-undo" aria-hidden="true"></i> Quay lại
                </button>
            </td>
        </tr>
    </table>
</form>
<script src="/vasonline/js/custom_service.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#areaName").keydown(function () {
            $("#messageAreaName").text("");
        })
    });

    //Validate
    $("#doEdit").on('click', function (e) {
        var format = /[`!@#$%^&*()_+\-=\[\]{};':"\\|,.<>\/?~]/;
        if (format.test($("#areaNameEdit").val())) {
            $("#messageAreaName").text(
                "Tên khu vực chứa ký tự đặc biệt");
            $("#areaNameEdit").focus();
            return false;
        }
        if ($("#areaNameEdit").val().trim() === '') {
            $("#messageAreaName").text(
                "Bạn chưa nhập tên khu vực");
            $("#areaNameEdit").focus();
            return false;
        }
        if($("#areaTaxEdit").val().trim() === '') {
            $("#messageAreaTax").text(
                "Bạn chưa nhập mã số thuế"
            );
            $("#areaTaxEdit").focus();
            return false;
        }
    })
</script>
</body>

</html>