<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	  lang="vi">
<head th:replace="fragments/html-head">
	<link rel="stylesheet" href="/style/select2.min.css">
	<link rel="stylesheet" href="/style/datepicker3.css">
	<meta charset="utf-8">
	<title>Chỉnh sửa chính sách chiết khấu</title>
</head>

<body>
	<form th:action="@{/edit-discount}" th:object="${discounts}" method="post">
		<table class="table table-condensed col" id="tbDiscountEdit">
			<tr>
				<td colspan="2">
					<label for="policyName">Tên chính sách<b class="required">(*)</b></label>
					<input type="text" name="policyName" th:field="*{policyName}" class="form-control" placeholder="Tên chính sách"
						   id="policyName" autocomplete="off">
					<span class="required" id="policyNameMessage"></span>
				</td>
				<td colspan="2">
					<label for="description">Mô tả chính sách </label>
					<textarea rows="1" type="text" th:field="*{description}" name="description" class="form-control"
							  placeholder="Mô tả chính sách" id="description" autocomplete="off"></textarea>

				</td>
			</tr>
			<tr>
				<td colspan="2" style="width: 50%;">
					<label for="startDate">Ngày bắt đầu<b class="required">(*)</b></label>
					<input type="text" name="startDate" th:field="*{startDate}" class="form-control" placeholder="Ngày bắt đầu"
						   id="startDate" autocomplete="off">
					<span class="required" id="startDateMessage"></span>
				</td>
				<td colspan="2">
					<label for="endDate">Ngày kết thúc<b class="required">(*)</b></label>
					<input type="text" name="endDate" th:field="*{endDate}" class="form-control" placeholder="Ngày kết thúc"
						   id="endDate" autocomplete="off">
					<span class="required" id="endDateMessage"></span>
				</td>
			</tr>
			<tr>
				<td><input type="checkbox" id="isDefault" name="isDefault" th:checked="*{isDefault} == 1"> Chính sách mặc định</td>
				<td><input type="hidden" id="id" name="id" th:field="*{id}"></td>
				<td><input type="hidden" id="lengthArr" name="lengthArr" class="lengthArr"></td>
				<td></td>
			</tr>
			<tr th:each="ld,index  : ${limitDiscount}">
				<td>
					<label th:for="'minOrder'+  ${index.count}">Hạn mức từ(VNĐ)<b class="required">(*)</b></label>
					<input type="text" th:name="'minOrder'+  ${index.count}" th:value="${ld.minOrder}" class="form-control formatMoney" placeholder="Hạn mức dưới"
						   th:id="'minOrder'+  ${index.count}">
					<span class="required" th:id="'minOrderMessage'+ ${index.count} "></span>
				</td>
				<td>
					<label th:for="'limitOrder'+  ${index.count}">Hạn mức đến(VNĐ)<b class="required">(*)</b></label>
					<input type="text" th:name="'limitOrder'+ ${index.count}" th:value="${ld.limitOrder}" class="form-control formatMoney" placeholder="Hạn mức trên"
						   th:id="'limitOrder'+  ${index.count}">
					<span class="required" th:id="'limitOrderMessage' + ${index.count}"></span>
				</td>
				<td style="width: 25%;">
					<label th:for="'discountRate'+${index.count}">Tỷ lệ chiết khấu(%) <b class="required">(*)</b></label>
					<input type="text" th:name="'discountRate'+${index.count}" th:value="${ld.discountRate}" class="form-control"
						   placeholder="Tỷ lệ chiết khấu"
						   th:id="'discountRate'+${index.count}">
					<span class="required" th:id="'discountRateMessage' + ${index.count} "></span>

				</td>
				<td><input type="hidden" th:name="'idLimit'+${index.count}" th:value="${ld.id}">
					<label th:if="${index.last}" class="title-plus"> Thêm </label><br>
					<input type="hidden" name="sizeLimit" th:if="${index.last}" class="sizeLimit" th:value="${index.size}" >
					<a class="addAttr" th:if="${index.last}" onclick="addDiscountRate();"><i class="fa fa-plus" aria-hidden="true"></i></a>
				</td>
				<td><label class='title-plus'> Xoá </label><br><a class='deleteAttr vasDeleteRow' th:onclick="'javascript:deleteRow(\''+ ${ld.id} +'\');'"><i class='fa fa-minus'></i></a></td>

			</tr>
			<tr>
				<td><input type="hidden" class="totalIdLimit" name="totalIdLimit" id="totalIdLimit"></td>
				<td></td>
				<td></td>
			</tr>
			<tr class='control ctl-discount'>
				<td colspan='4' align='center'>
					<button class="btn btn-primary button-control" type="submit" name="doEdit" id="doEdit"><i class="fa fa-pencil" aria-hidden="true"></i>
						Chỉnh sửa</button>&nbsp;
					<button type="button" id="doBack" class="btn btn-primary button-control"data-dismiss="modal"><i
							class="fa fa-undo" aria-hidden="true"></i> Quay lại</button>
				</td>
			</tr>
		</table>
	</form>

	<script src="/vasonline/js/discount-edit.js"></script>
	<script src="/vasonline/js/bootstrap-datepicker.min.js"></script>
	<link rel="stylesheet" href="/vasonline/style/bootstrap-datepicker.min.css">
	<script src="/vasonline/js/custom_service.js"></script>
	<script src="/vasonline/js/select2.min.js"></script>
<script type="text/javascript">

</script>
</body>
</html>
