<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  lang="vi">
<head th:replace="fragments/html-head">
<meta charset="utf-8">
<title>Thêm mới đại lý</title>

</head>

<body>
	<form th:action="@{/new-agency}" method="post" id="form">
		<table class="table table-condensed col">
			<tr>
				<td style="width: 33.333333%;"><label for="agencyName">Tên
						đại lý<b class="required">(*)</b>
				</label> <input type="text" name="agencyName" class="form-control"
					placeholder="Tên đại lý" id="agencyName" autocomplete="off">
					<span class="required" id="agencyNameMessage"></span>
				</td>
				<td><label for="agencyArea">Công ty khu vực<b
						class="required">(*)</b></label> <select name="agencyArea"
					id="agencyArea" class="form-control">
						<option value="">--Công ty khu vực--</option>
						<option th:each="area : ${agencyArea}"
							th:value="${area.areaId}" th:text="${area.areaName}"></option>
				</select></td>
				<td><label for="agencyCode">Mã đại lý <b class="required">(*)</b></label> <input
						type="text" name="agencyCode" class="form-control"
						placeholder="Mã đại lý bao gồm 8-10 ký tự cả chữ và số" id="agencyCode"
						autocomplete="off">
					<span class="required" id="agencyCodeMessage"></span>
				</td>
			</tr>
			<tr>
				<td><label for="agencyType">Hình thức thanh toán<b
						class="required">(*)</b></label>
					<select name="agencyType" id="agencyType" class="form-control">
						<option value="0">Tài khoản</option>
					</select>
				</td>
				<td><label for="status">Trạng thái <b
						class="required">(*)</b></label> <select name="status" id="status"
					class="form-control">
						<option value="0">Hiệu lực</option>
						<option value="1">Không hiệu lực</option>
				</select>
				</td>
				<td><label for="businessLicense">Số giấy phép kinh
						doanh<b class="required">(*)</b>
				</label> <input type="text" name="businessLicense"
					class="form-control" placeholder="Số GPKD bao gồm 8-10 ký tự" id="businessLicense"
					autocomplete="off">
					<span class="required" id="businessLicenseMessage"></span>
				</td>
			</tr>
			<tr>
				<td><label for="licenseDate">Ngày cấp giấy phép kinh doanh<b class="required">(*)</b>
				</label> <input type="text" name="licenseDate" class="form-control"
								placeholder="Ngày cấp GPKD" id="licenseDate" autocomplete="off">
					<span class="required" id="licenseDateMessage"></span>
				</td>
				<td><label for="licensePlace">Nơi cấp giấy phép
					kinh doanh<b class="required">(*)</b></label>
					<select name="licensePlace" id="licensePlace" class="form-control">
						<option value="">Chọn tỉnh, thành phố</option>
						<option th:each="province : ${listProvince}"
								th:value="${province.id}" th:text="${province.province_name}"></option>
					</select>
					<span class="required" id="licensePlaceMessage"></span>
				</td>
				<td><label for="officeAddress">Địa chỉ trụ sở</label> <input
					type="text" name="officeAddress" class="form-control"
					placeholder="Địa chỉ trụ sở" id="officeAddress"
					autocomplete="off">
				</td>
			</tr>
			<tr>
				<td><label for="invoiceAddress">Địa chỉ xuất hóa
					đơn</label> <input type="text" name="invoiceAddress"
									   class="form-control" placeholder="Địa chỉ xuất hóa đơn"
									   id="invoiceAddress" autocomplete="off"></td>
				<td><label for="taxCode">Mã số thuế<b
						class="required">(*)</b></label>
					<input type="text" name="taxCode" class="form-control" placeholder="Mã số thuế bao gồm 8-10 ký tự" id="taxCode"
																autocomplete="off">
					<span class="required" id="taxCodeMessage"></span>
				</td>
				<td><label for="phoneNumber">Số điện thoại<b
						class="required">(*)</b></label> <input type="text" name="phoneNumber"
					class="form-control" placeholder="Số điện thoại"
					id="phoneNumber" autocomplete="off" maxlength="13">
					<span class="required" id="phoneNumberMessage"></span>
				</td>
			</tr>
			<tr>
				<td><label for="email">Email <b class="required">(*)</b></label> <input type="text"
																						name="email" class="form-control" placeholder="Email"
																						id="email" autocomplete="off">
					<span class="required" id="emailMessage"></span>
				</td>
				<td><label for="branchAgency">Chi Nhánh</label> <input
						type="text"  name="branchAgency"
						class="form-control" placeholder="Chi Nhánh" id="branchAgency" autocomplete="off">
				</td>
				<td></td>
			</tr>
<!--			Thông tin người đại diện-->
			<tr>
				<td><h3>Thông tin người đại diện</h3></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td><label for="fullNameRepresent">Họ và tên<b class="required">(*)</b></label>
					<input type="text" name="fullNameRepresent" class="form-control"
						   placeholder="Họ và tên" id="fullNameRepresent" autocomplete="off">
					<span class="required" id="fullNameRepresentMessage"></span>
				</td>
				<td><label for="birthdayRepresent">Ngày sinh</label>
					<input type="text" name="birthdayRepresent" class="form-control"
						   placeholder="Ngày sinh" id="birthdayRepresent" autocomplete="off">
					<span class="required" id="birthdayRepresentMessage"></span>
				</td>
				<td><label for="positionRepresent">Chức vụ</label>
					<input type="text" name="positionRepresent" class="form-control"
						   placeholder="Chức vụ" id="positionRepresent" autocomplete="off">
					<span class="required" id="positionRepresentMessage"></span>
				</td>
			</tr>
			<tr>
				<td><label for="emailRepresent">Email<b class="required">(*)</b></label>
					<input type="text" name="emailRepresent" class="form-control" placeholder="Email"
						   id="emailRepresent" autocomplete="off">
					<span class="required" id="emailRepresentMessage"></span>
				</td>
				<td><label for="telephoneRepresent">Số điện thoại di động</label>
					<input type="text" name="telephoneRepresent" maxlength="12" class="form-control"
						   placeholder="Số điện thoại di động" id="telephoneRepresent" autocomplete="off">
					<span class="required" id="telephoneRepresentMessage"></span>
				</td>
				<td><label for="phoneNumberRepresent">Số điện thoại cố định</label>
					<input type="text" class="form-control" id="phoneNumberRepresent" maxlength="12" name="phoneNumberRepresent" placeholder="Số điện thoại cố định">
					<span class="required" id="phoneNumberRepresentMessage"></span>
<!--					<select name="type" id="type" class="form-control">-->
<!--						<option value="0">Người đại diện</option>-->
<!--						<option value="1">Người ủy quyển</option>-->
<!--						<option value="2">Đầu mối liên hệ</option>-->
<!--					</select>-->
				</td>
			</tr>

<!--			thông tin người liên hệ-->
			<tr>
				<td><h3>Thông tin người liên hệ</h3>
					<div class="custom-control custom-checkbox">
						<input type="checkbox" class="custom-control-input" id="check">
						<label class="custom-control-label" for="check">Bạn là người đại diện</label>
					</div>
				</td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td><label for="fullNameContact">Họ và tên<b class="required">(*)</b></label>
					<input type="text" name="fullNameContact" class="form-control"
						   placeholder="Họ và tên" id="fullNameContact" autocomplete="off">
					<span class="required" id="fullNameContactMessage"></span>
				</td>
				<td><label for="birthdayContact">Ngày sinh</label>
					<input type="text" name="birthdayContact" class="form-control"
						   placeholder="Ngày sinh" id="birthdayContact" autocomplete="off">
					<span class="required" id="birthdayContactMessage"></span>
				</td>
				<td><label for="positionContact">Chức vụ</label>
					<input type="text" name="positionContact" class="form-control"
						   placeholder="Chức vụ" id="positionContact" autocomplete="off">
					<span class="required" id="positionContactMessage"></span>
				</td>
			</tr>
			<tr>
				<td><label for="emailContact">Email<b class="required">(*)</b></label>
					<input type="text" name="emailContact" class="form-control" placeholder="Email"
						   id="emailContact" autocomplete="off">
					<span class="required" id="emailContactMessage"></span>
				</td>
				<td><label for="telephoneContact">Số điện thoại di động</label>
					<input type="text" name="telephoneContact" class="form-control"
						   placeholder="Số điện thoại di động" maxlength="12" id="telephoneContact" autocomplete="off">
					<span class="required" id="telephoneContactMessage"></span>
				</td>
				<td><label for="phoneNumberContact">Số điện thoại cố định</label>
					<input type="text" class="form-control" maxlength="12" id="phoneNumberContact" name="phoneNumberContact" placeholder="Số điện thoại cố định">
					<span class="required" id="phoneNumberContactMessage"></span>
				</td>
			</tr>
			<tr class='control'>
				<td colspan='4' align='center'>
					<button type="submit" class="btn btn-primary button-control"
							name="doNew" id="doNew">
						<i class="fa fa-plus-square"></i> Thêm mới
					</button> <a type="button" id="doBack"
								 class="btn btn-primary button-control" data-dismiss="modal"><i
						class="fa fa-undo" aria-hidden="true"></i> Quay lại</a>
				</td>
			</tr>
		</table>
	</form>

	<script src="/vasonline/js/custom_service.js"></script>
	<script src="/vasonline/js/select2.min.js"></script>
	<script src="/vasonline/js/bootstrap-datepicker.min.js"></script>
	<script src="/vasonline/js/agency-validate.js"></script>

<script>
	$('#form').submit(function(){
		$("#doNew", this)
				.html("Đang xử lý...")
				.attr('disabled', 'disabled');
		return true;
	});
	$( "#check" ).click(function() {
		if (this.checked){
			document.getElementById("fullNameContact").value =  document.getElementById("fullNameRepresent").value;
			document.getElementById("birthdayContact").value =  document.getElementById("birthdayRepresent").value;
			document.getElementById("positionContact").value =  document.getElementById("positionRepresent").value;
			document.getElementById("emailContact").value =  document.getElementById("emailRepresent").value;
			document.getElementById("telephoneContact").value =  document.getElementById("telephoneRepresent").value;
			document.getElementById("phoneNumberContact").value =  document.getElementById("phoneNumberRepresent").value;
		}
		else{
			document.getElementById("fullNameContact").value = ""
			document.getElementById("birthdayContact").value = ""
			document.getElementById("positionContact").value =  ""
			document.getElementById("emailContact").value = ""
			document.getElementById("telephoneContact").value =  ""
			document.getElementById("phoneNumberContact").value = ""
		}
	});
</script>
</body>

</html>