<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	lang="vi">
<head th:replace="fragments/html-head">
<meta charset="utf-8">
<title>Thêm mới tài khoản</title>
</head>
<body>
	<div class="wrapper" sec:authorize="isAuthenticated()">
		<div class="box box-primary"
			sec:authorize="hasAuthority('Quản lý nhóm tài khoản:Thêm')">
			<form th:action="@{/admin/group-management/create}" method='POST'>
				<table class="table table-condensed col">
					<tr>
						<td style="width: 50%"><label for="groupId">Mã nhóm<b class="required">(*)</b>
							</label> <input type="text" class="form-control" placeholder="Nhập mã nhóm"
								name="groupId" id="groupId"><span class="required" id="messageGroupId"></span>
						</td>
						<td><label for="group-name">Tên nhóm<b class="required">(*)</b>
							</label> <input type="text" class="form-control" placeholder="Nhập tên nhóm"
							name="groupName" id="groupName"><span class="required" id="messageGroupName"></span>
						</td>
					</tr>
					<tr>
						<td><label for="group-father">Nhóm cha</label> <select
							name="group-father" id="group-father" class="form-control">
								<option value="">--Chọn nhóm cha--</option>
								<option th:each="g : ${myGroup}" th:value="${g.groupId}"
									th:text="${g.groupName}"></option>
						</select></td>
						<td><label for="group-level">Cấp nhóm</label> <select
							name="groupLevel" id="group-level" class="form-control">
								<option value="">--Chọn cấp nhóm--</option>
								<option th:each="l : ${levels}" th:value="${l.levelId}"
							th:text="${l.levelName}"></option>
						</select></td>
					</tr>
					<tr><td colspan="2">
						<label for="group-members">Thêm thành viên</label> <select
							name="group-members" id="group-members"
							class="form-control select2" multiple>
								<option th:each="searchUser : ${myUsers}"
									th:value="${searchUser.username}"
									th:text="'[' +${searchUser.username}+ '] - ' +${searchUser.fullname}"></option>
						</select>
						<input type="hidden" name="group-member"
							id="group-member" /></td>
					</tr>
					<tr class='control'>
						<td colspan='4' align='center'>
							<button class="btn btn-primary button-control" id="doAdd"
								type="submit">
								<i class="fa fa-plus-square"></i> THÊM MỚI
							</button>
							<a type="button" id="doBack"
								class="btn btn-primary button-control"  data-dismiss="modal">
								<i class="fa fa-undo" aria-hidden="true"></i> Quay lại</a>&nbsp;
						</td>
					</tr>
				</table>
			</form>
		</div>
	</div>
	<script src="/vasonline/js/select2.min.js"></script>
	<script src="/vasonline/js/custom_service.js"></script>
	<script src="/vasonline/js/group.js"></script>
	<script type="text/javascript">
		$('.select2').select2();
		$('.select2').on('change', function(e) {
			let value = Array.from(e.target.selectedOptions, option => option.value);
			$('input:hidden[name=group-member]').val(value);
		})

		$("#doAdd").on('click',function(e) {
			$("span.required").html("");
			var format = /[`!@#$%^&*()_+\-=\[\]{};':"\\|,.<>\/?~]/;
			var regex = /^[a-zA-Z 0-9]{1,}$/g;
			if (format.test($("#groupId").val())) {
				$("#messageGroupId").text("Mã nhóm không chứa ký tự đặc biệt");
				$("#messageGroupId").focus();
				return false;
			}
			if (!regex.test($("#groupId").val()) && $("#groupId").val() !== '') {
				$("#messageGroupId").text("Mã nhóm không chứa dấu tiếng việt");
				$("#messageGroupId").focus();
				return false;
			}
			if ($("#groupId").val() === '') {
				$("#messageGroupId").text("Mã nhóm bắt buộc nhập");
				$("#messageGroupId").focus();
				return false;
			}
			if ($("#groupName").val() === '') {
				$("#messageGroupName").text("Tên nhóm bắt buộc nhập");
				$("#messageGroupName").focus();
				return false;
			}
		});
	</script>
</body>

</html>