<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/html-head">
	<meta charset="UTF-8">
	<title>Thêm mới</title>
</head>
<body>
<form th:action="@{/agencyContract/add}"
	  method="post" enctype="multipart/form-data" id="fileUploadForm">
	<table class="table table-condensed col">
		<tr>
			<td style="width: 50%">
				<label for="areaId">Công ty khu vực <b class="required"> (*)</b></label>
				<select name="areaId" id="areaId" class="form-control" th:if="${#lists.size(listArea) >= 2}">
					<option value="">--Chọn công ty khu vực--</option>
					<option th:each="j : ${listArea}"
							th:value="${j.areaId}" th:text="${j.areaName}" ></option>
				</select>
				<select name="areaId" id="areaId" class="form-control" th:if="${#lists.size(listArea) < 2}">
					<option th:each="j : ${listArea}"
							th:value="${j.areaId}" th:text="${j.areaName}" ></option>
				</select>
				<span id="areaId_msg"></span>
			</td>
			<td style="width: 50%"><label for="agencyId">Đại lý <b class="required"> (*)</b></label>
				<select name="agencyId" id="agencyId" class="form-control selectNew" th:if="${agency != null}">
					<option
							th:each="ag : ${agency}"
							th:value="${ag.id}"
							th:text="${ag.agencyName}"
					></option>
				</select>
				<select name="agencyId" id="agencyId" class="form-control selectNew" th:if="${agency == null }">
					<option value="">-- Chọn đại lý --</option>
				</select>
			</td>
		</tr>
		<tr>
			<td>
				<label for="contractNo">Số hợp đồng<b class="required"> (*)</b></label>
				<input type="text" name="contractNo" class="form-control" id="contractNo" autocomplete="off" />
				<span id="contractNo_msg"></span>
			</td>

			<td>
				<label for="signDate">Ngày ký <b class="required">(*)</b></label>
				<input type="text" name="signDate" id="signDate" autocomplete="off" class="form-control" />
				<span id="signDate_msg"></span>
			</td>
		</tr>
		<tr>
			<td>
				<label for="startDate">Ngày bắt đầu<b class="required"> (*)</b></label>
				<input type="text" name="startDate" class="form-control" id="startDate" autocomplete="off"/>
				<span id="startDate_msg"></span>
			</td>
			<td>
				<label for="endDate">Ngày kết thúc<b class="required"> (*)</b></label>
				<input type="text" name="endDate" class="form-control" id="endDate" autocomplete="off"/>
				<span id="endDate_msg"></span>
			</td>
		</tr>
		<tr>
			<td>
				<label for="guaranteeValue">Giá trị bảo lãnh (VNĐ)<b class="required">(*)</b></label>
				<input type="text" name="guaranteeValue" class="form-control"
					   data-type='currency' maxlength="14"
					   id="guaranteeValue" autocomplete="off"/>
				<span id="guaranteeValue_msg"></span>
			</td>
			<td>
				<label for="liquidationDate">Số ngày thanh lý hợp đồng <b class="required">(*)</b></label>
				<input type="text" name="liquidationDate" class="form-control" id="liquidationDate" autocomplete="off"
					   maxlength="3" />
				<span id="liquidationDate_msg"></span>
			</td>
		</tr>
		<tr>
			<td>
				<label for="serviceType">Loại dịch vụ <b class="required">(*)</b></label>
				<select name="serviceType" id="serviceType" class="form-control">
					<option value="-1">--Chọn loại dịch vụ--</option>
					<option value="0">Trả trước</option>
					<option value="1">Trả sau</option>
				</select>
				<span id="serviceType_msg"></span>
			</td>

			<td>
				<label for="contractAddendum">Upload chứng thư</label>
				<input type="file" name="files[]" multiple id="contractAddendum" accept="image/*"/>
				<span id="file_msg"></span>
			</td>
		</tr>

		<tr class='control'>
			<td colspan='4' align='center'>
				<button type="submit" class="btn btn-primary button-control"
						name="doNew" id="doNew"><i class="fa fa-plus-square"></i>
					Thêm mới
				</button>
				<button type="button" id="doBack"
				   class="btn btn-primary button-control" data-dismiss="modal"><i
						class="fa fa-undo" aria-hidden="true"></i> Quay lại</button>
			</td>
		</tr>
	</table>
</form>
<script src="/vasonline/js/custom_service.js"></script>
<script src="/vasonline/js/select2.min.js"></script>
<script src="/vasonline/js/bootstrap-datepicker.min.js"></script>
<script type="text/javascript">
	$(".selectNew").select2();
	$(document).on("click","#doNew",function (event) {
		if ($("#agencyId").val() === "") {
			$("#agencyId_msg").text("Bạn chưa chọn đại lý");
			$('#agencyId_msg').attr('style', 'display:block;color: red');
			return false;
		}
		if ($('#contractNo').val() === ''){
			$('#contractNo_msg').html('Vui lòng nhập số hợp đồng');
			$('#contractNo_msg').attr('style','display:block;color: red');
			return false;
		}
		if ($('#signDate').val() === '') {
			$('#signDate_msg').html('Vui lòng nhập ngày ký');
			$('#signDate_msg').attr('style','display:block;color: red');
			return false;
		}
		if ($('#startDate').val() === '') {
			$('#startDate_msg').html('Vui lòng nhập ngày bắt đầu hiệu lực');
			$('#startDate_msg').attr('style', 'display:block;color: red');
			return false;
		}
		if ($('#endDate').val() === '') {
			$('#endDate_msg').html('Vui lòng nhập ngày kết thúc hiệu lực');
			$('#endDate_msg').attr('style', 'display:block;color: red');
			return false;
		}
		if ($('#status').val() === '') {
			$('#status_msg').html('Vui lòng nhập trạng thái');
			$('#status_msg').attr('style', 'display:block;color: red');
			return false;
		}
		if ($('#guaranteeValue').val() === '') {
			$('#guaranteeValue_msg').html('Vui lòng nhập giá trị bảo lãnh');
			$('#guaranteeValue_msg').attr('style','display:block;color: red');
			return false;
		}
		if ($('#liquidationDate').val() === '') {
			$('#liquidationDate_msg').html('Vui lòng nhập số ngày thanh lý hợp đồng');
			$('#liquidationDate_msg').attr('style','display:block;color: red');
			return false;
		}
		if ($('#serviceType').val() === "") {
			$('#serviceType_msg').html('Vui lòng chọn loại dịch vụ');
			$('#serviceType_msg').attr('style','display:block;color: red');

		}

		//	check end date > start date
		var ngaybatdau = $('#startDate').val();
		var ngayketthuc = $('#endDate').val();
		ngaybatdau = parseDate(ngaybatdau).getTime();
		ngayketthuc = parseDate(ngayketthuc).getTime();

		if (ngaybatdau > ngayketthuc) {
			$('#endDate_msg').html('Vui lòng nhập ngày kết thúc lớn hơn ngày bắt đầu!');
			$('#endDate_msg').attr('style', 'display:block;color: red');
			return false;
		}

	});
	$("#contractNo, #guaranteeValue, #liquidationDate, #status").on("keyup", function () {
		$('#contractNo_msg').html('');;
		$('#guaranteeValue_msg').html('');
		$('#liquidationDate_msg').html('');
		$('#status_msg').html('');
	});
	$("#agencyId,#serviceType, #signDate, #startDate, #endDate").on('change',function () {
		$('#agencyId_msg').html('');
		$('#serviceType_msg').html('');
		$('#signDate_msg').html('');
		$('#startDate_msg').html('');
		$('#endDate_msg').html('')
	})
</script>
<script>
	$(document).ready(function () {
		$("#areaId").on("change", function (e) {
			let value = Array.from(e.target.selectedOptions, option => option.value);
			// $('input:hidden[name=brand]').val(value);
			var linkPost = "/vasonline/agency-list?idAgencyArea="+ value;

			$.ajax({
				url: linkPost,
				method: 'GET',
				success: function(data) {

					var str ='<option value="">--Chọn đại lý--</option>';

					for (let i = 0; i < data.length ; i++) {
						if (data[i].status == 0){
							str +='<option value= "'+data[i].id+'" >'+data[i].agencyName+'</option>'
						}
					}
					$('#agencyId').html(str);

				},
				error: function(request) {
					alert("The request failed: " + request.responseText);
				}
			});
		});
		$("#startDate").datepicker({
			format: "dd/mm/yyyy", todayHighlight: true
		}).datepicker("setDate", new Date());
		$("#endDate").datepicker({format: "dd/mm/yyyy", todayHighlight: true})
		$("#signDate").datepicker({format: "dd/mm/yyyy", todayHighlight: true})

		if ($("#areaId").val() != '' && $("#agencyId").val() == ''){
			var linkPost = "/vasonline/agency-list?idAgencyArea="+ $("#areaId").val();
			$.ajax({
				url: linkPost,
				method: 'GET',
				success: function(data) {

					var str ='<option value="">--Chọn đại lý--</option>';

					for (let i = 0; i < data.length ; i++) {
						str +='<option value= "'+data[i].id+'" >'+data[i].agencyName+'</option>'
					}
					$('#agencyId').html(str);

				},
				error: function(request) {
					alert("The request failed: " + request.responseText);
				}
			});
		}
	});

</script>
</body>
</html>
