<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      lang="vi">
<head th:replace="fragments/html-head">
    <meta charset="utf-8">
    <title>Chỉnh sửa đơn hàng</title>
</head>

<body>
    <form th:action="@{/edit-agency-order}" method="post" th:object="${agencyOrder}" enctype="multipart/form-data">
        <table class="table table-condensed col">
            <tr>
                <td style="width: 50%;">
                    <label for="orderId">Mã đơn hàng<b class="required">(*)</b></label>
                    <input type="text" name="orderId" th:field="*{orderId}" class="form-control"
                           placeholder="Mã đơn hàng" id="orderId" autocomplete="off" readonly>
                    <span class="required" id="orderIdMessage"></span>
                </td>
                <td>
                    <label for="agencyAO">Tên đại lý - AM/KAM<b class="required">(*)</b></label>
                    <select name="agencyAO" id="agencyAO" class="form-control select2"
                            th:field="*{agencyAO}" disabled>
                        <option th:each="ag : ${agency}" th:value="${ag.id}"
                                th:text="${ag.agencyName}"></option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="startDate">Ngày bắt đầu<b class="required">(*)</b></label>
                    <input type="text" th:field="*{startDate}" name="startDate" class="form-control"
                           placeholder="Ngày bắt đầu" id="startDate" autocomplete="off">
                    <span class="required" id="startDateMessage"></span>
                </td>
                <td>
                    <label for="endDate">Ngày kết thúc<b class="required">(*)</b></label>
                    <input type="text" th:field="*{endDate}" name="endDate" class="form-control"
                           placeholder="Ngày kết thúc" id="endDate" autocomplete="off">
                    <span class="required" id="endDateMessage"></span>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="serviceRequest" >Yêu cầu dịch vụ <b class="required">(*)</b></label>
                    <select name="serviceRequest" id="serviceRequest" class="form-control select select2" multiple>
                        <option
                                th:each="sr : ${serviceRequest}"
                                th:value="${sr.srId}"
                                th:text="${sr.srId}+' - '+${sr.customer.name}+' - '+${sr.brandASR.brandName}"
                                th:selected="${sr.srId}"
                        ></option>
                    </select>
                    <input type="hidden" name="serviceRequestVal" class="serviceRequestVal" id="serviceRequestVal">
                </td>
                <td>
                    <label for="paymentMethod">Hình thức thanh toán<b class="required">(*)</b></label>
                    <select name="paymentMethod" id="paymentMethod" class="form-control">
                        <option th:field="*{paymentMethod}" value="0">Trả trước</option>
                        <option th:field="*{paymentMethod}" value="1">Trả sau</option>
                        <option th:field="*{paymentMethod}" value="2">Tài khoản</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="discountRate">Tỷ lệ hoa hồng/chiết khấu</label>
                    <input type="text" name="discountRate" class="form-control" id="discountRate" readonly>
                </td>
            </tr>
            <tr class="postpaid" hidden>
                <td>
                    <label for="depositAmount">Giá trị bảo lãnh</label>
                    <input type="text" name="depositAmount" id="depositAmount" class="form-control" readonly>
                </td>
                <td>
                    <label for="guaranteeValue">Hạn mức cho phép vượt(%)</label>
                    <input type="text" th:value="${guarantee}" id="guaranteeValue" class="form-control" readonly>
                </td>
            </tr>
            <tr class="postpaid" hidden>
                <td>
                    <label for="exceedValue">Giá trị có thể vượt quá bảo lãnh</label>
                    <input type="text" id="exceedValue" class="form-control" readonly>
                </td>
                <td></td>
            </tr>
            <tr>
                <td>
                    <label for="orderValue">Giá trị đơn hàng<b class="required">(*)</b></label>
                    <input type="text" data-type='currency' name="orderValue" class="form-control"
                           placeholder="Giá trị đơn hàng" id="orderValue" autocomplete="off"
                           th:field="*{orderValue}">
                    <span class="required" id="orderValueMessage"></span>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="discountRateValue">Giá trị chiết khấu</label>
                    <input type="text" data-type='currency' placeholder="Giá trị chiết khấu"
                           name="discountRateValue" class="form-control"
                           disabled id="discountRateValue">
                </td>
                <td>
                    <label for="orderPay">Giá trị thanh toán<b class="required">(*)</b></label>
                    <input type="text" data-type='currency' name="orderPay" class="form-control"
                           placeholder="Giá trị thanh toán" id="orderPay" autocomplete="off"
                           th:field="*{orderPay}" readonly>
                    <span class="required" id="orderPayMessage"></span>
                </td>
            </tr>

            <tr>
                <td>
                    <label for="description">Mô tả</label>
                    <input type="text" th:field="*{description}" name="description" class="form-control"
                           placeholder="Mô tả" id="description" autocomplete="off">
                </td>
                <td>
                    <label for="files">File đính kèm</label>
                    <input id="fileUploader"  type="file" name="files[]" multiple onchange="updateList()">
                    <div id="divFiles"></div>
                    <table id="files">
                        <tr th:each="f : ${files}">
                            <td th:text="${f.filePath}"></td>
                            <td><a th:href="${f.filePath}"><i class="fa fa-download"></i></a></td>
                            <td>
                                <a th:id="${f.id}" class="deleteFile">
                                    <i class="fa fa-trash-o"></i></a>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr class='control'>
                <td colspan='4' align='center'>
                    <button type="submit" class="btn btn-primary button-control" name="doEdit" id="doEdit">
                        <i class="fa fa-pencil"></i>
                        Chỉnh sửa
                    </button>
                    <button type="button" class="btn btn-primary button-control" name="doBrowse"
                       id="doBrowse"><i class="fa fa-arrow-right"></i>
                        Chuyển duyệt
                    </button>
                    <button type="button" class="btn btn-primary button-control" name="doWaitPay"
                       id="doWaitPay"><i class="fa fa-arrow-right"></i>
                        Chờ thanh toán
                    </button>
                    <button type="button" id="doBack" class="btn btn-primary button-control"
                            data-dismiss="modal" ><i class="fa fa-undo" aria-hidden="true"></i> Quay lại</button>
                </td>
            </tr>
        </table>
    </form>


<script src="/vasonline/js/custom_service.js"></script>
<script src="/vasonline/js/select2.min.js"></script>
<script src="/vasonline/js/upload_multi-file.js"></script>
<link rel="stylesheet" href="/vasonline/style/upload-file.css">
<script src="/vasonline/js/bootstrap-datepicker.min.js"></script>
<script type="text/javascript">
    $(".select2").select2();
    $("#doBrowse").on("click", function () {
        window.location.href = "/vasonline/agency-order-status/" + $("#orderId").val();
    });
    $("#doWaitPay").on("click", function () {
        window.location.href = "/vasonline/wait-pay-order/" + $("#orderId").val();
    });
    function messageSuccess(){
        toastr.success('Thành công');
    }
    function messageFailed(){
        toastr.error('Thất bại');
    }
    $(".deleteFile").on("click", function (e) {
        e.preventDefault();
        var id = $(this).attr('id');
        var r = confirm("Bạn muốn xóa file đính kèm của đơn hàng?");
        if (r) {
            $.ajax({
                url: '/vasonline/delete-file-order/' + id,
                method: 'GET',
                success: function (data) {
                    if (data == 'success') {
                        toastr.success('Thành công');
                    } else {
                        toastr.error('Thất bại');
                    }
                }
            });
        }

    });
    $(document).ready(function () {
        if ($("#paymentMethod").val() == "0"){
            $("#doBrowse").attr("hidden",true);
        }else {
            $("#doWaitPay").attr("hidden",true);
        }
        let messageResponse = '[[${message}]]';
        if(messageResponse == 'success'){
            messageSuccess();
        }
        if (messageResponse == 'failed'){
            messageFailed();
        }
        $("#discountRate").val(0);
        $('#sidebarCollapse').on('click', function () {
            $('#sidebar').toggleClass('active');
        });
        $("#startDate").datepicker({
            format: "dd/mm/yyyy",
            todayHighlight: true,
            inline: true
        });
        $("#endDate").datepicker({
            format: "dd/mm/yyyy",
            todayHighlight: true,
            inline: true
        });
        //tính giá trị chiết khấu & tỉ lệ chiết khấu, hoa hồng
        if ($("#orderValue").val() * 1 > 0 && $("#discountRateValue").val() == '') {
            let rateVal = parseInt($("#orderValue").val()) - parseInt($("#orderPay").val());
            let discount = (rateVal / parseInt($("#orderValue").val())) * 100;
            $("#discountRateValue").val(rateVal);
            $("#discountRate").val(discount);
        }

        $("#orderId, #orderValue, #orderPay").keydown(function () {
            $("#orderIdMessage, #orderValueMessage, #orderPayMessage").text("");
        });

        $("#startDate, #endDate").on("change",function () {
            $(" #startDateMessage, #endDateMessage").text("");
        });
        //lấy tỉ lệ và tính giá trị đơn hàng theo tỉ lệ
        $(document).on("change","#agencyAO", function (e) {
            let value = $("#agencyAO").val();
            let orderV = $("#orderValue").val();
            let linkPost = "/vasonline/discount-rate?agencyAO=" + value + "&orderValue=" + orderV;

            $.ajax({
                url: linkPost,
                method: 'GET',
                success: function (data) {
                    console.log(data);
                    $("#discountRate").val(data.rate);
                    let orderValue = parseInt($("#orderValue").val().replace(/,/g, ''));
                    let discountRate = parseInt(data.rate);
                    let typePolicy = data.type;
                    console.log(discountRate);
                    if(typePolicy == 1){
                        if (orderValue >= 0 && ($("#paymentMethod").val() == "0" || $("#paymentMethod").val() == "1") ) {
                            let discountRateVal = orderValue * (discountRate / 100);
                            let orderPay = orderValue - discountRateVal;
                            $("#discountRateValue").val(discountRateVal);
                            $("#orderPay").val(orderPay);
                        } else {
                            $("#discountRateValue").val(0);
                            $("#orderPay").val($("#orderValue").val());
                        }
                    }else {
                        $("#discountRateValue").val(0);
                        $("#orderPay").val($("#orderValue").val());
                    }
                },
                error: function (request) {
                    alert("The request failed: " + request.responseText);
                }
            });

            if ($("#paymentMethod").val() == "1"){
                $(".postpaid").removeAttr("hidden");
                $("#orderValue").attr("readonly",true);
                var link = "/vasonline/get-deposit-amount?agencyAO=" + $("#agencyAO").val();
                $.ajax({
                    url: link,
                    method: 'GET',
                    success: function (data) {
                        if (data.depositsAmount != null){
                            $('#depositAmount').val(data.depositsAmount);
                        }else {
                            $('#depositAmount').val(0);
                        }
                        let depositA = parseInt($('#depositAmount').val());
                        let guarantee = parseInt($('#guaranteeValue').val());
                        let exceedV = (depositA*guarantee)/100;
                        $("#exceedValue").val(exceedV);
                    },
                    error: function (request) {
                        alert("The request failed: " + request.responseText);
                    }
                });
            }
        });
        //    lấy giá trị bảo lãnh
        var dataSr = [];
        $("#agencyAO").on("change", function (e) {
            var linkPost = "/vasonline/service-request-list?agencyCode=" + $("#agencyAO").val();
            $.ajax({
                url: linkPost,
                method: 'GET',
                success: function (data) {
                    dataSr = data;
                    var str = '<option value="">-- Chọn yêu cầu dịch vụ --</option>';
                    for (let i = 0; i < data.length; i++) {
                        if (data[i].type == 0){
                            str += ' <option value= "' + data[i].srId + '" >' + data[i].srId + ' - ' + data[i].customer.name + ' - ' + data[i].brandASR.brandName + '</option>'
                        }else {
                            str += ' <option disabled style="color: red;" value= "' + data[i].srId + '" >' + data[i].srId + ' - ' + data[i].customer.name + ' - ' + data[i].brandASR.brandName + '</option>'
                        }
                    }
                    $('#serviceRequest').html(str);
                },
                error: function (request) {
                    alert("The request failed: " + request.responseText);
                }
            });
        });
        //get total price
        $('#serviceRequest').on("change",function (e) {
            let value = Array.from(e.target.selectedOptions, option => option.value);
            $('input:hidden[name=serviceRequestVal]').val(value);
            var srVal = $('#serviceRequest').val();
            var totalPrice = 0;
            for (let i = 0; i < dataSr.length; i++) {
                for (let j = 0; j < srVal.length; j++) {
                    if(dataSr[i].srId = srVal[j]){
                        totalPrice += dataSr[i].amount;
                    }
                }
            }
            console.log(totalPrice);
            $("#orderValue").val(totalPrice);
        })
        var invalidChars = ["-", "+", "e"];
        $("#orderValue").on("keydown", function (e) {
            if (invalidChars.includes(e.key)) {
                e.preventDefault();
            }
        });

    //thay đổi giá trị đơn hàng
    $(document).on("change","#orderValue", function () {

        let value = $("#agencyAO").val();
        let orderV = $("#orderValue").val();
        let linkPost = "/vasonline/discount-rate?agencyAO=" + value + "&orderValue=" + orderV;

        $.ajax({
            url: linkPost,
            method: 'GET',
            success: function (data) {
                $("#discountRate").val(data.rate);
            },
            error: function (request) {
                alert("The request failed: " + request.responseText);
            }
        });

        let orderValue = parseInt($("#orderValue").val().replace(/,/g, ''));
        let discountRate = parseInt($("#discountRate").val());
        let typePolicy = parseInt(localStorage.getItem("typePolicy"));
        if(typePolicy == 1){
            if (orderValue >= 0 && ($("#paymentMethod").val() == "0" || $("#paymentMethod").val() == "1")) {
                let discountRateVal = orderValue * (discountRate / 100);
                let orderPay = orderValue - discountRateVal;
                $("#discountRateValue").val(discountRateVal);
                $("#orderPay").val(orderPay);
            } else {
                $("#discountRateValue").val(0);
                $("#orderPay").val($("#orderValue").val());
            }
        }else {
            $("#discountRateValue").val(0);
            $("#orderPay").val($("#orderValue").val());
        }
    });
    //Lấy giá trị bảo lãnh của đại lý
    $(document).on("change","#paymentMethod", function (e) {
        if ($("#paymentMethod").val() == "1"){
            $(".postpaid").removeAttr("hidden");
            $("#orderValue").attr("readonly",true);
            var linkPost = "/vasonline/get-deposit-amount?agencyAO=" + $("#agencyAO").val();
            $.ajax({
                url: linkPost,
                method: 'GET',
                success: function (data) {
                    if (data.depositsAmount != null){
                        $('#depositAmount').val(data.depositsAmount);
                    }else {
                        $('#depositAmount').val(0);
                    }
                    let depositA = parseInt($('#depositAmount').val());
                    let guarantee = parseInt($('#guaranteeValue').val());
                    let exceedV = (depositA*guarantee)/100;
                    $("#exceedValue").val(exceedV);
                    $("#orderValue").val(exceedV + depositA);
                },
                error: function (request) {
                    alert("The request failed: " + request.responseText);
                }
            });

        } else {
            $(".postpaid").prop("hidden","true");
        }
        if ($("#paymentMethod").val() == "2"){
            $("#orderValue, #orderPay").val(0);
            $("#orderValue").attr("readonly",true);
        }
        if ($("#paymentMethod").val() == "0"){
            $("#orderValue").removeAttr("readonly");
        }
    });
    $(document).on('click',"#doEdit", function (e) {

        if ($("#startDate").val() === '') {
            $("#startDateMessage").text("Bạn chưa nhập ngày bắt đầu");
            return false;
        }
        if ($("#endDate").val() === '') {
            $("#endDateMessage").text("Bạn chưa nhập ngày kết thúc");
            return false;
        }

        //	check end date > start date
        var ngaybatdau = $('#startDate').val();
        var ngayketthuc = $('#endDate').val();
        ngaybatdau = parseDate(ngaybatdau).getTime();
        ngayketthuc = parseDate(ngayketthuc).getTime();

        if (ngaybatdau > ngayketthuc) {
            $('#endDateMessage').text('Vui lòng nhập ngày kết thúc lớn hơn ngày bắt đầu!');
            return false;
        }

        if ($("#orderValue").val() === '') {
            $("#orderValueMessage").text("Bạn chưa nhập giá trị đơn hàng");
            return false;
        }
        if ($("#orderPay").val() === '') {
            $("#orderPay").text("Giá trị thanh toán không được để trống");
            return false;
        }
        return true;
    });
    var invalidChars = ["-", "+", "e"];
    $("#orderValue").on("keydown", function (e) {
        if (invalidChars.includes(e.key)) {
            e.preventDefault();
        }
    });

//    xoá file
    $(document).on('click',".deleteBrand",function () {
        var id = $(this).data('id');
        //let rs = confirm("Bạn muốn xóa chính sách?");
        //if (rs) {
        $.ajax({
            url: '/vasonline/delete-brand-commission/' + id,
            method: 'GET',
            success: function (data) {
                if (data == 'success') {
                    toastr.success('Thành công');
                } else {
                    toastr.error('Thất bại');
                }

                $("#doSearchBrand").click();
            }
        });
        // }
        // this.rs = '';
    });
    });

</script>
</body>
</html>
