@charset "UTF-8";
.pagination{
	display: table;
	float: right;
}
.page-label{
	vertical-align: middle;
}
.page-item{
	display: table-cell;
	font-size: 100%;
}
.input-page, .input-page-size{
	width: 70px;
}