<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      lang="vi">
<head th:replace="fragments/html-head">
    <meta charset="utf-8">
    <title>Call Api BHTT</title>
</head>

<body>
    <div class="wrapper" sec:authorize="isAuthenticated()">
        <!-- Sidebar  -->
        <nav id="sidebar" th:replace="fragments/sidebar"></nav>

        <!-- Page Content  -->
        <div id="content">
            <div class="div-navbar" th:replace="fragments/div-navbar"></div>

            <div class="container-fluid ">
                <div class="heading">
                    <h4>CALL API BHTT</h4>
                </div>
                <span th:text ="${#authentication.getPrincipal().getUsers().getLevelUsers().getLevelId()}" id="levelIdUser" hidden></span>
                <div class="box box-primary">
                    <form>
                        <table class="table table-condensed col">
                            <tr class='control'>
                                <td colspan='4' align='center'>
                                    <button class="btn btn-primary button-control" type="button"
										id="doSearch" style="display:none;">
										<i class="fa fa-search"></i> TÌM KIẾM
									</button>&nbsp;
                                    <button type="button" id="doNew" data-target="#modal-command-type-create" class="btn btn-primary button-control">
                                    <i class="fa fa-plus-square"></i>&nbsp;CALL</button>&nbsp;
                                    <input type="hidden" name="page" id="page" /> <input
									type="hidden" name="size" id="size" />
                                </td>
                            </tr>
                        </table>
                    </form>
                </div>
                <div class="list-service box box-primary">
                    <table class="table table-bordered">
                        <thead>
                            <tr align="center">
                                <th>Mã log</th>
                                <th>URL</th>
                                <th>REQUEST</th>
                                <th>RESPONSE</th>
                                <th>Thời gian tạo</th>
                                <th>Người tạo</th>
                                <th>Thời gian phản hồi</th>
                            </tr>
                            <tr>
                        </thead>
                        <tbody id="tableBody">
                            <tr th:each="log : ${logs}">
                                <td th:text="${log.logId}"></td>
                                <td th:text="${log.url}"></td>
                                <td th:text="${log.request}"></td>
                                <td th:text="${log.response}"></td>
                                <td th:text="${log.created}"></td>
                                <td th:text="${log.creator}"></td>
                                <td th:text="${log.responseTime}"></td>
                            </tr>
                        </tbody>
                    </table>
                    <nav aria-label="Page navigation">
                    <ul class="pagination">
                        <li class="page-item"><span id="totalPage"></span></li>
                        <li class="page-item"><span id="pageSize"></span></li>
                        <li class="page-item">
                            <div class="form-group">
                                <select class="form-control" name="selector"
                                        onChange="resetPage()">
                                    <option>10</option>
                                    <option>20</option>
                                    <option>50</option>
                                    <option>100</option>
                                    <option>200</option>
                                </select>
                            </div>
                        </li>
                        <li class="page-item"><span>&nbsp;</span></li>
                        <li class="page-item"><a class="page-link"
                                                 onClick="firstPage()"><i class="fa fa-angle-double-left"></i></a></li>
                        <li class="page-item"><a class="page-link"
                                                 onClick="prevPage()"><i class="fa fa-angle-left"></i></a></li>
                        <li class="page-item"><a id="prePage"></a></li>
                        <li class="page-item"><a class="page-link" id="currentPage">1</a></li>
                        <li class="page-item"><a id="nexPage"></a></li>
                        <li class="page-item"><a class="page-link"
                                                 onClick="nextPage()"><i class="fa fa-angle-right"></i></a></li>
                        <li class="page-item"><a class="page-link"
                                                 onClick="lastPage()"><i class="fa fa-angle-double-right"></i></a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
<!--modal form create-->
<div class="modal fade in" id="modal-command-type-create" style="display: none;"  data-backdrop="static" data-keyboard="false" >
    <div class="modal-dialog modal-xl overflow-auto" style="width: 50%; height: auto;">
        <div class="modal-content">
            <div class="modal-header bg-yellow">
                <h4 class="modal-title">CREATE REQUEST</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body" id="create_table">

            </div>
            <div class="modal-footer" style="text-align: center;">
            </div>
        </div>
    </div>
</div>
<script src="/vasonline/js/custom_service.js"></script>
<script src="/vasonline/js/bootstrap-datepicker.min.js"></script>
<script type="text/javascript">
    $(function() {
        $("#doSearch").click();
    });
    $(document).ready(function() {
        $('#sidebarCollapse').on('click', function() {
            $('#sidebar').toggleClass('active');
        });
        let messageResponse = '[[${message}]]';
        console.log(messageResponse);
        if(messageResponse == 'success'){
            messageSuccess();
        }
        if (messageResponse == 'failed'){
            messageFailed();
        }
        function messageSuccess(){
            toastr.success('Thành công');
        }
        function messageFailed(){
            toastr.error('Thất bại');
        }
    });

    //show modal create
    $("#doNew").on('click',function () {
        $.ajax({
            url: '/vasonline/transaction-api/create/',
            type: 'GET',
            success:function(data){
                $('#create_table').html(data);
                $('#modal-command-type-create').modal('toggle');
            },
            error: function(jqXHR, exception){
                if(jqXHR.status == 403){
                    messageNotAuthorized();
                }
                else{
                    messageSystemError()
                }
                console.log(jqXHR, exception);
            }
        });
    });
</script>
</body>

</html>