<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="vi">

<head th:replace="fragments/html-head">
<meta charset="utf-8">
<title></title>
</head>
<link rel="stylesheet" href="/vasonline/style/login.css">
<title>VASOnline Login</title>
<body>
	<div class="container login-container col-3">
		<div class="heading row">
			<span>VASONLINE LOGIN</span>
		</div>
		<div class="form-div row">
			<form class="w-100" th:action="@{/perform_login}" method='POST'>
				<div class="form-group">
					<label for="username">Tên đăng nhập</label>
					<div class="input-group mb-3">
						<div class="input-group-prepend">
							<span class="input-group-text" id="basic-addon1"><i
								class="fa fa-user"></i></span>
						</div>
						<input type="text" class="form-control" name="username"
							id="username" placeholder="Username" aria-label="Username"
							aria-describedby="basic-addon1">
					</div>
				</div>
				<div class="form-group">
					<label for="password">Mật khẩu</label>
					<div class="input-group mb-3">
						<div class="input-group-prepend">
							<span class="input-group-text" id="basic-addon2"><i
								class="fa fa-key"></i></span>
						</div>
						<input type="password" class="form-control" name="password"
							id="password" placeholder="Password" aria-label="Password"
							aria-describedby="basic-addon2">
					</div>
				</div>
				<span class="required" th:if="${param.message}"><span
					class="text-danger">[[${message}]]</span></span> <span
					th:if="${param.error}"><span class="text-danger">[[${session.SPRING_SECURITY_LAST_EXCEPTION}]]</span></span>
				<div class="form-group">
					<button class="btnSubmit btn btn-block btn-flat" type="submit">
						<i class="fa fa-sign-in"></i>&nbsp;ĐĂNG NHẬP
					</button>
				</div>
			</form>
		</div>
	</div>
</body>

</html>