<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	lang="vi">
<head th:replace="fragments/html-head">
<meta charset="utf-8">
<title>Kích hoạt yêu cầu dịch vụ</title>
</head>
<body>
	<form th:action="@{/service-request/activate}" method='POST' enctype="multipart/form-data">
		<table class="table table-sm" th:object="${srData}">
			<tr style="display: none;">
				<td><input type="text" class="form-control"
					name="srId" id="srId" th:field="*{srId}"></td>
				<td><input type="text" class="form-control"
					name="remainingQuantity" id="remainingQuantity" th:field="*{remainingQuantity}"></td>
			</tr>
			<tr>
				<td><label for="quantity_active">Số lượng</label>
					<input type="text" class="form-control"
					name="quantity_active" id="quantity_active" th:value="${srData.quantity}"></td>
			</tr>
			<tr>
				<td>
					<select name="check_time" id="check_time" class="form-control">
						<option value="1">Kích hoạt Ngay</option>
						<option value="2">Chọn thời gian</option>
					</select></td>
			</tr>
			<tr>
				<td>
					<div style="position: relative">
					<input name="activatedDate" class="form-control" placeholder="Thời gian kích hoạt" id="activatedDate">
					</div>
				</td>
			</tr>
			<tr class='control'>
				<td colspan='4' align='center'>
					<button class="btn btn-primary button-control" id="doActivate" type="submit"> <i class="fa fa-bolt"></i> Kích hoạt </button>&nbsp;
					<a type="button" id="doBack" class="btn btn-primary button-control"  data-dismiss="modal"><i class="fa fa-undo" aria-hidden="true"></i> Quay lại</a>&nbsp;
				</td>
			</tr>
		</table>
	</form>
	<link rel="stylesheet" href="/vasonline/style/bootstrap-datetimepicker.min.css">
	<script src="/vasonline/js/custom_service.js"></script>
	<script src="/vasonline/js/moment.js"></script>
	<script src="/vasonline/js/bootstrap-datetimepicker.min.js"></script>
	<script type="text/javascript">
		$("#activatedDate").datetimepicker({
			format:'DD/MM/YYYY HH:mm',
			minDate: moment()
		});
		$(document).ready(function() {
			$('#sidebarCollapse').on('click', function() {
				$('#sidebar').toggleClass('active');
			});
			var checkTime = $('#check_time').find(":selected").val();
			if(checkTime == 1) {
				$("#activatedDate").attr("hidden", true);
			} else{
				$("#activatedDate").attr("hidden", false);
			}
		});

		$("#doActivate").on('click', function (e) {
			var remainQuan = $("#remainingQuantity").val();
			remainQuan = Number(remainQuan);
			var quanAc = $("#quantity_active").val();
			if(quanAc == ''){
				toastr.error('Bạn chưa điền số lượng kích hoạt');
				return false;
			}
			if(quanAc <= 0){
				toastr.error('Số lượng không phù hợp');
				return false;
			}
			quanAc = Number(quanAc);
			if (quanAc > remainQuan) {
				toastr.error('Số lượng kích hoạt vượt quá số lượng yêu cầu còn lại');
				return false;
			}
		});

		$("#check_time").on("change", function (e) {
			let value = Array.from(e.target.selectedOptions, option => option.value);
			if(value == 1) {
				$("#activatedDate").attr("hidden", true);
			} else{
				$("#activatedDate").attr("hidden", false);
			}
		});
	</script>
</body>

</html>