<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/html-head">
	<meta charset="UTF-8">
	<title>Sửa</title>
</head>
<body>
<form th:action="@{/agencyContract/edit-agencyContract}" method="post"
	  enctype="multipart/form-data" id="fileUploadFormEditContract"
	  th:object="${agencyContract}">
	<table class="table table-condensed col">
		<tr>
			<td width="50%"><label for="agencyId">Đại lý hợp đồng<b
					class="required"> (*)</b></label>
				<select th:field="*{agencyAC}"  name="agencyId" id="agencyId" class="form-control" disabled>
					<option value="">--Chọn đại lý--</option>
					<option th:each="i : ${listAgency}" th:value="${i.id}"
							th:text="${i.agencyName}"></option>
				</select> <span id="agencyId_msg"></span></td>
			<td><label for="status">Trạng thái hợp đồng <b
					class="required"> (*)</b></label>
				<select name="status" id="status"  class="form-control" th:field="*{status}">
					<option th:value=0>Mới tạo</option>
					<option th:value=1>Đã ký</option>
					<option th:value=2>Đã thanh lý</option>
					<option th:value=3>Hết hạn</option>
					<option th:value=4>Đã gia hạn</option>
				</select> <span id="status_msg"></span></td>
		</tr>
		<tr>
			<td>Số hợp đồng<b class="required"> (*)</b></label>
				<input type="hidden" name="id"class="form-control" readonly th:field="*{id}" />
				<input type="hidden" name="agencyAC" class="form-control" th:field="*{agencyAC}" />
				<input type="text" name="contractNo" class="form-control" readonly th:field="*{contractNo}" id="contractNo" autocomplete="off" />
				<span id="contractNo_msg"></span></td>
			<td><label for="signDate">Ngày ký <b
					class="required">(*)</b></label>
				<input type="text" name="signDate" id="signDate" autocomplete="off" th:field="*{signDate}"
					   class="form-control" /> <span id="signDate_msg"></span></td>
		</tr>
		<tr>
			<td><label for="startDate">Ngày bắt đầu hiệu lực<b
					class="required"> (*)</b></label>
				<input type="text" name="startDate" class="form-control" id="startDate"
					   th:field="*{startDate}" autocomplete="off" /> <span id="startDate_msg"></span></td>

			<td><label for="endDate">Ngày kết thúc hiệu lực<b
					class="required"> (*)</b></label>
				<input type="text" name="endDate"  class="form-control" id="endDate" autocomplete="off" th:field="*{endDate}"/>
				<span id="endDate_msg"></span></td>
		</tr>
		<tr>
			<td><label for="guaranteeValue">Giá trị bảo lãnh (VNĐ) <b
					class="required">(*)</b></label>
				<input type="text" name="guaranteeValue" class="form-control" th:field="*{guaranteeValue}" id="guaranteeValue"
					   data-type='currency' maxlength="14" autocomplete="off" /> <span
						id="guaranteeValue_msg"></span></td>
			<td><label for="liquidationDate">Số ngày thanh lý
				hợp đồng <b class="required">(*)</b>
			</label> <input type="text" name="liquidationDate" class="form-control"
							th:field="*{liquidationDate}" id="liquidationDate"
							autocomplete="off" maxlength="3" /> <span
					id="liquidationDate_msg"></span></td>
		</tr>
		<tr>
			<td><label for="serviceType">Loại dịch vụ <b
					class="required">(*)</b></label>
				<select name="serviceType" id="serviceType" class="form-control" th:field="*{serviceType}">
					<option value="">--Chọn loại dịch vụ--</option>
					<option value="0">Trả trước</option>
					<option value="1">Trả sau</option>
				</select> <span id="serviceType_msg"></span></td>
			<td>
				<label for="contractAddendum">Nội dung hợp đồng và phụ lục</label><br>
				<input type="file" name="files[]" multiple id="contractAddendum" accept="image/*"/>
				<div>
					<ul id="file-name">
						<li th:each="set : ${imgContract}"><a
								style="color: blue;" th:text="${set.imagePath} + ' '"
								th:href="@{${set.imagePath}}"></a></li>
					</ul>
				</div>
			</td>
		</tr>
		<tr class='control'>
			<td colspan='4' align='center'>
				<button type="submit" class="btn btn-primary button-control"
						name="doEdit" id="doEdit">
					<i class="fa fa-plus-square"></i> Cập nhật
				</button>
				<button type="button" id="doBack" class="btn btn-primary button-control" data-dismiss="modal"><i class="fa fa-undo"
																   aria-hidden="true"></i> Quay lại</button>
			</td>
		</tr>
	</table>
</form>

<script src="/vasonline/js/custom_service.js"></script>
<script type="text/javascript">
	$(document).on('click','#doEdit',function(event) {
		if ($('#contractNo').val() == ''){
			$('#contractNo_msg').html('Vui lòng nhập số hợp đồng');
			$('#contractNo_msg').attr('style','display:block;color: red');
			return false;
		}
		if ($('#agencyId').val() === "") {
			$('#agencyId_msg').html('Vui lòng chọn đại lý');
			$('#agencyId_msg').attr('style','display:block;color: red');
			return false;
		}
		if ($('#serviceType').val() == "") {
			$('#serviceType_msg').html('Vui lòng chọn loại dịch vụ');
			$('#serviceType_msg').attr('style','display:block;color: red');
			return false;
		}
		if ($('#signDate').val() == '') {
			$('#signDate_msg').html('Vui lòng nhập ngày ký');
			$('#signDate_msg').attr('style','display:block;color: red');
			return false;
		}
		if ($('#startDate').val() == '') {
			$('#startDate_msg').html('Vui lòng nhập ngày bắt đầu hiệu lực');
			$('#startDate_msg').attr('style','display:block;color: red');
			return false;
		}
		if ($('#endDate').val() == '') {
			$('#endDate_msg').html('Vui lòng nhập ngày kết thúc hiệu lực');
			$('#endDate_msg').attr('style','display:block;color: red');
			return false;
		}
		if ($('#guaranteeValue').val() == '') {
			$('#guaranteeValue_msg').html('Vui lòng nhập giá trị bảo lãnh');
			$('#guaranteeValue_msg').attr('style','display:block;color: red');
			return false;
		}
		if ($('#liquidationDate').val() == '') {
			$('#liquidationDate_msg').html('Vui lòng nhập số ngày thanh lý hợp đồng');
			$('#liquidationDate_msg').attr('style','display:block;color: red');
			return false;
		}
		if ($('#status').val() == '') {
			$('#status_msg').html('Vui lòng nhập trạng thái');
			$('#status_msg').attr('style','display:block;color: red');
			return false;
		}

		//	check end date > start date
		var ngaybatdau = $('#startDate').val();
		var ngayketthuc = $('#endDate').val();
		ngaybatdau = parseDate(ngaybatdau).getTime();
		ngayketthuc = parseDate(ngayketthuc).getTime();

		if (ngaybatdau > ngayketthuc) {
			$('#endDate_msg').html('Vui lòng nhập ngày kết thúc lớn hơn ngày bắt đầu!');
			$('#endDate_msg').attr('style', 'display:block;color: red');
			return false;
		}
	});
	$("#contractNo, #agencyId, #guaranteeValue, #liquidationDate, #status").on("keyup", function () {
		$('#contractNo_msg').html('');
		$('#agencyId_msg').html('');
		$('#guaranteeValue_msg').html('');
		$('#liquidationDate_msg').html('');
		$('#status_msg').html('');
	});
	$("#serviceType, #signDate, #startDate, #endDate").on('change',function () {
		$('#serviceType_msg').html('');
		$('#signDate_msg').html('');
		$('#startDate_msg').html('');
		$('#endDate_msg').html('');
	})

</script>
<script type="text/javascript">
	$(document).ready(function() {
		$('#sidebarCollapse').on('click', function() {
			$('#sidebar').toggleClass('active');
		});
		$("#areaId").on("change", function (e) {
			let value = Array.from(e.target.selectedOptions, option => option.value);
			// $('input:hidden[name=brand]').val(value);
			var linkPost = "/vasonline/agency-list?idAgencyArea="+ value;

			$.ajax({
				url: linkPost,
				method: 'GET',
				success: function(data) {

					var str ='';

					for (let i = 0; i < data.length ; i++) {
						str +='<option value= "'+data[i].id+'" >'+data[i].agencyName+'</option>'
					}
					$('#agencyId').html(str);

				},
				error: function(request) {
					alert("The request failed: " + request.responseText);
				}
			});
		})

		//Chi hien thi ten file
		$( "#file-name li a" ).each(function( index ) {
			var fileName = $(this).text();
			$(this).html(fileName.trim().slice(fileName.trim().lastIndexOf('/')+1));
		});

		// Date picker
		$("#startDate").datepicker({
			format : "dd/mm/yyyy",
			todayHighlight : true
		});
		$("#endDate").datepicker({
			format : "dd/mm/yyyy",
			todayHighlight : true})
		$("#signDate").datepicker({
			format : "dd/mm/yyyy",
			todayHighlight : true})
	});
</script>
</body>
</html>