<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      lang="vi">
<head th:replace="fragments/html-head">
    <meta charset="utf-8">
    <title>Chi tiết chính sách hoa hồng</title>
</head>

<body>
    <div class="tab-base">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" data-target="#tab" data-toggle="tab">AM/KAM, Đại lý thuộc chính sách</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" data-target="#tab1">Gói cước thuộc chính sách</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" data-target="#tab2">Thêm mới Đại lý, AM/KAM, Gói cước</a>
            </li>
        </ul>
    </div>
    <div class="tab-content">
        <div id="tab" class="tab-pane fade active in show">
            <form>
                <table class="table table-condensed col">
                    <tr>
                        <td style="width: 50%;">
                            <label for="policyName2">Tên chính sách hoa hồng</label>
                            <select name="policyName2" class="form-control " id="policyName2">
                                <option value="">--Chọn chính sách--</option>
                                <option th:each="co :${commission}" th:value="${co.id}"
                                        th:text="${co.policyName}" th:selected="${commissionId} == ${co.id}"></option>
                            </select>
                        </td>
                        <td>
                            <label for="agencyName">AM/KAM</label>
                            <select name="agencyName" class="form-control select2" id="agencyName">
                                <option value="">--Chọn đại lý--</option>
                                <option th:each="ag :${agency}" th:value="${ag.id}"
                                        th:text="${ag.agencyName}"></option>
                            </select>
                        </td>
                    </tr>
                    <tr class='control'>
                        <td colspan='4' align='center'>
                            <button type="button" class="btn btn-primary button-control"
                                    name="doSearchDetail" id="doSearchDetail">
                                <i class="fa fa-search"></i> Tìm kiếm
                            </button>&nbsp;&nbsp;
                        </td>
                    </tr>
                </table>
            </form>
            <div class="list-service box box-primary">
                <table class="table table-bordered">
                    <thead>
                    <tr align="center">
                        <th>Tên AM/KAM, Đại lý</th>
                        <th>Tên chính sách</th>
                        <th>Ngày bắt đầu</th>
                        <th>Ngày kết thúc</th>
                        <th>Hành động</th>
                    </tr>
                    </thead>
                    <tbody id="tableBody2"></tbody>
                </table>
                <nav aria-label="Page navigation">
                    <ul class="pagination">
                        <li class="page-item"><span id="totalPage2"></span></li>
                        <li class="page-item"><span id="pageSize2"></span></li>
                        <li class="page-item">
                            <div class="form-group">
                                <select class="form-control" name="selector"
                                        onChange="resetPage2()">
                                    <option>10</option>
                                    <option>20</option>
                                    <option>50</option>
                                    <option>100</option>
                                    <option>200</option>
                                </select>
                            </div>
                        </li>
                        <li class="page-item"><span>&nbsp;</span></li>
                        <li class="page-item"><a class="page-link"
                                                 onClick="firstPage2()"><i class="fa fa-angle-double-left"></i></a></li>
                        <li class="page-item"><a class="page-link"
                                                 onClick="prevPage2()"><i class="fa fa-angle-left"></i></a></li>
                        <li class="page-item"><a id="prePage"></a></li>
                        <li class="page-item"><a class="page-link" id="currentPage2">1</a></li>
                        <li class="page-item"><a id="nexPage"></a></li>
                        <li class="page-item"><a class="page-link"
                                                 onClick="nextPage2()"><i class="fa fa-angle-right"></i></a></li>
                        <li class="page-item"><a class="page-link"
                                                 onClick="lastPage2()"><i class="fa fa-angle-double-right"></i></a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <div id="tab1" class="tab-pane fade">
            <form>
                <table class="table table-condensed col">
                    <tr>
                        <td style="width: 50%;">
                            <label for="policyName1">Tên chính sách hoa hồng</label>
                            <select name="policyName1" class="form-control" id="policyName1">
                                <option value="">--Chọn chính sách--</option>
                                <option th:each="co :${commission}" th:value="${co.id}"
                                        th:text="${co.policyName}" th:selected="${commissionId} == ${co.id}"></option>
                            </select>
                        </td>
                        <td>
                            <label for="brandName">Gói cước</label>
                            <select name="brandName" class="form-control select2" id="brandName">
                                <option value="">--Chọn gói cước--</option>
                                <option th:each="b :${brand}" th:value="${b.id}"
                                        th:text="${b.brandName}"></option>
                            </select>
                        </td>
                    </tr>
                    <tr class='control'>
                        <td colspan='4' align='center'>
                            <button type="button" class="btn btn-primary button-control"
                                    name="doSearchBrand" id="doSearchBrand">
                                <i class="fa fa-search"></i> Tìm kiếm
                            </button>&nbsp;
                        </td>
                    </tr>
                </table>
            </form>
            <div class="list-service box box-primary">
                <table class="table table-bordered">
                    <thead>
                    <tr align="center">
                        <th>Tên chính sách</th>
                        <th>Tên gói cước</th>
                        <th>Ngày bắt đầu</th>
                        <th>Ngày kết thúc</th>
                        <th>Tỷ lệ hoa hồng</th>
                        <th>Hành động</th>
                    </tr>
                    </thead>
                    <tbody id="tableBody1"></tbody>
                </table>
                <nav aria-label="Page navigation">
                    <ul class="pagination">
                        <li class="page-item"><span id="totalPage1"></span></li>
                        <li class="page-item"><span id="pageSize1"></span></li>
                        <li class="page-item">
                            <div class="form-group">
                                <select class="form-control" name="selector1"
                                        onChange="resetPage1()">
                                    <option>10</option>
                                    <option>20</option>
                                    <option>50</option>
                                    <option>100</option>
                                    <option>200</option>
                                </select>
                            </div>
                        </li>
                        <li class="page-item"><span>&nbsp;</span></li>
                        <li class="page-item"><a class="page-link"
                                                 onClick="firstPage1()"><i class="fa fa-angle-double-left"></i></a></li>
                        <li class="page-item"><a class="page-link"
                                                 onClick="prevPage1()"><i class="fa fa-angle-left"></i></a></li>
                        <li class="page-item"><a id="prePage1"></a></li>
                        <li class="page-item"><a class="page-link" id="currentPage1">1</a></li>
                        <li class="page-item"><a id="nexPage1"></a></li>
                        <li class="page-item"><a class="page-link"
                                                 onClick="nextPage1()"><i class="fa fa-angle-right"></i></a></li>
                        <li class="page-item"><a class="page-link"
                                                 onClick="lastPage1()"><i class="fa fa-angle-double-right"></i></a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <div id="tab2" class="tab-pane fade">
            <form th:action="@{/new-detail-commission}" method="post">
                <table class="table table-condensed col">
                    <tr>
                        <td style="width: 50%;">
                            <label for="agencyArea">Chọn công ty khu vực <b class="required">(*)</b> </label>
                            <select name="agencyArea" id="agencyArea"
                                    class="agencyArea form-control select select2" multiple>
                                <option th:each="ag : ${agencyArea}" th:value="${ag.areaId}"
                                        th:text="${ag.areaName}"></option>
                            </select>
                        </td>
                        <td><input type="hidden" class="am-kam" id="am-kam" name="am-kam">
                            <label for="kamCommisions">Chọn AM/KAM - Đại lý <b
                                    class="required">(*)</b></label>
                            <select name="kamCommisions" id="kamCommisions"
                                    class="kamCommisions form-control select select2" multiple>
                            </select></td>
                        <span class="required" id="kamCommisionsMessage"></span>
                    </tr>
                    <tr>
                        <td>
                            <label for="selectService">Chọn dịch vụ<b class="required">(*)</b></label>
                            <select name="selectService" id="selectService"
                                    class="selectService select2 form-control " multiple>
                                <option
                                        th:each="se : ${service}"
                                        th:value="${se.id}"
                                        th:text="${se.serviceName}"
                                ></option>
                            </select>
                        </td>
                        <td>
                            <label for="brandGroup">Chọn nhóm gói cước<b
                                    class="required">(*)</b></label>
                            <select name="brandGroup" id="brandGroup"
                                    class="brandId select2 form-control" multiple>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="hidden" class="brand" id="brand" name="brand">
                            <label for="brandCommisions">Chọn gói cước<b
                                    class="required">(*)</b></label>
                            <select name="brandCommisions" id="brandCommisions"
                                    class="brandCommisions select2 form-control " multiple>
                            </select>
                            <span class="required" id="brandCommisionsMessage"></span>
                        </td>
                        <td>
                            <label for="policyName3">Tên chính sách<b class="required">(*)</b></label>
                            <select name="policyName3" id="policyName3"
                                    class="selectService form-control ">
                                <option
                                        th:each="co : ${commission}"
                                        th:value="${co.id}"
                                        th:text="${co.policyName}"
                                        th:selected="${commissionId} == ${co.id}"
                                ></option>
                            </select>
                        </td>

                    </tr>
                    <tr class='control'>
                        <td colspan='4' align='center'>
                            <button type="submit" class="btn btn-primary button-control" name="doNewABC" id="doNewABC"><i
                                    class="fa fa-plus-square"></i>
                                Thêm mới
                            </button>
                            <a type="button" id="doBack" class="btn btn-primary button-control"
                               th:href="@{/detail-commission}"><i
                                    class="fa fa-undo" aria-hidden="true"></i> Quay lại</a>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>

<script src="/vasonline/js/select2.min.js"></script>
<script src="/vasonline/js/custom_service.js"></script>
<script src="/vasonline/js/detail-commission-search.js"></script>
<script src="/vasonline/js/brand-commission-search.js"></script>
<script type="text/javascript">
        $(document).ready(function () {
            $(".select2").select2();
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
            });
            $("#kamCommisions").on("change", function (e) {
                let value = Array.from(e.target.selectedOptions, option => option.value);
                $('input:hidden[name=am-kam]').val(value);
            })
            $("#brandCommisions").on("change", function (e) {
                let value = Array.from(e.target.selectedOptions, option => option.value);
                $('input:hidden[name=brand]').val(value);
            })
            $("#selectService").on("change", function (e) {
                let value = Array.from(e.target.selectedOptions, option => option.value);
                var linkPost = "/vasonline/brand-group-list?idService=" + value.toString();

                $.ajax({
                    url: linkPost,
                    method: 'GET',
                    success: function (data) {

                        var str = '';

                        for (let i = 0; i < data.length; i++) {
                            if (data[i].status == 0) {
                                str += ' <option value= "' + data[i].id + '" >' + data[i].groupName + '</option>';
                            }
                        }
                        $('#brandGroup').html(str);

                    },
                    error: function (request) {
                        alert("The request failed: " + request.responseText);
                    }
                });
            })

            $("#agencyArea").on("change", function (e) {
                let value = Array.from(e.target.selectedOptions, option => option.value);
                var linkPost = "/vasonline/amkam-list?idAmKam=" + value.toString();

                $.ajax({
                    url: linkPost,
                    method: 'GET',
                    success: function (data) {

                        var str = '';

                        for (let i = 0; i < data.length; i++) {
                            str += ' <option value= "' + data[i].id + '" >' + data[i].agencyName + '</option>'
                        }
                        $('#kamCommisions').html(str);

                    },
                    error: function (request) {
                        alert("The request failed: " + request.responseText);
                    }
                });
            })
            $("#brandGroup").on("change", function (e) {
                let value = Array.from(e.target.selectedOptions, option => option.value);
                var linkPost = "/vasonline/brand-list?idBrand=" + value.toString();

                $.ajax({
                    url: linkPost,
                    method: 'GET',
                    success: function (data) {

                        var str = '';

                        for (let i = 0; i < data.length; i++) {
                            if (data[i].status == 0) {
                                str += ' <option value= "' + data[i].id + '" >' + data[i].brandName + '</option>';
                            }
                        }
                        $('#brandCommisions').html(str);

                    },
                    error: function (request) {
                        alert("The request failed: " + request.responseText);
                    }
                });
            });
            $("#kamCommisions, #brandCommisions").keydown(function () {
                $("#kamCommisionsMessage, #brandCommisionsMessage").text("");
            });
        });
        $("#doNewABC").on('click', function (e) {
            if ($("#kamCommisions").val() === '') {
                $("#kamCommisionsMessage").text("Bạn chưa nhập AM/KAM");
                return false;
            }
            if ($("#brandCommisions").val() === '') {
                $("#brandCommisionsMessage").text("Bạn chưa nhập gói cước");
                return false;
            }

        })
    </script>
</body>

</html>