<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      lang="vi">
<head th:replace="fragments/html-head">
    <meta charset="utf-8">
    <title>Thêm mới tham số hệ thống</title>
</head>

<body>

<form th:action="@{/system-attr/create}" method="post" id="form">
    <table class="table table-condensed col">
        <tr>
            <td style="width: 50%"><label for="typeAttr">Loại<b class="required">(*)</b></label>
                <input type="text" name="typeAttr"  class="form-control" placeholder="Loại" id="typeAttr"
                       autocomplete="off">
            </td>
            <td><label for="nameAttr">Tên<b class="required">(*)</b></label>
                <input type="text" name="nameAttr"  class="form-control" placeholder="Tên" id="nameAttr"
                       autocomplete="off">
            </td>
        </tr>
        <tr>
            <td><label for="valueAttr">Giá trị<b class="required">(*)</b></label>
                <input type="text" name="valueAttr" class="form-control" placeholder="Giá trị" id="valueAttr"
                       autocomplete="off">
            </td>
            <td><label for="descriptionAttr">Mô tả</label>
                <input type="text" name="descriptionAttr"  class="form-control" placeholder="Mô tả" id="descriptionAttr"
                       autocomplete="off">
            </td>
        </tr>
        <tr class='control'>
            <td colspan='4' align='center'>
                <button type="submit" class="btn btn-primary button-control new"
                        name="doNew" id="doNew">
                    <i class="fa fa-plus-square"></i> Thêm mới
                </button>
                <a type="button" id="doBack"
                   class="btn btn-primary button-control" data-dismiss="modal"><i
                        class="fa fa-undo" aria-hidden="true"></i> Quay lại</a>
            </td>
        </tr>
    </table>
</form>

<script src="/vasonline/js/custom_service.js"></script>
<script src="/vasonline/js/select2.min.js"></script>
<script type="text/javascript">
    $(document).on('click', "#doNew", function () {
        if ($("#typeAttr").val().trim() === '') {
            toastr.error('Bạn chưa nhập loại');
            return false;
        }
        if ($("#nameAttr").val().trim() === '') {
            toastr.error('Bạn chưa nhập tên');
            return false;
        }
        if ($("#valueAttr").val().trim() === '') {
            toastr.error('Bạn chưa nhập giá trị');
            return false;
        }
    });
    $('#form').submit(function () {
        $("#doNew", this).html("Đang xử lý...").attr('disabled', 'disabled');
        return true;
    });
</script>
</body>

</html>