<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      lang="vi">
<head th:replace="fragments/html-head">
    <meta charset="utf-8">
    <title>Quản lý dịch vụ</title>
    <link href="http://twitter.github.io/bootstrap/assets/css/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="http://twitter.github.io/bootstrap/assets/css/bootstrap-responsive.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div class="wrapper">
    <!-- Sidebar  -->
    <nav id="sidebar" th:replace="fragments/sidebar"></nav>

    <!-- Page Content  -->
    <div id="content">
        <div class="div-navbar" th:replace="fragments/div-navbar"></div>

        <div class="container-fluid ">
            <div class="heading">
                <h3>QUẢN LÝ DỊCH VỤ</h3>
            </div>
            <div class="box box-primary">
                <form>
                    <table class="table table-condensed col">
                        <tr>
                            <td><label for="serviceIdSearch">Mã dịch vụ</label> <input
                                    type="text" name="serviceId" class="form-control"
                                    placeholder="Mã dịch vụ" id="serviceIdSearch"></td>
                            <td><label for="serviceNameSearch">Tên dịch vụ</label> <input
                                    type="text" name="serviceName" class="form-control"
                                    placeholder="Tên dịch vụ" id="serviceNameSearch"></td>
                        </tr>
                        <tr>

                            <td><label for="shortCodeSearch">Đầu số dịch vụ</label> <input
                                    type="text" name="shortCode" class="form-control"
                                    placeholder="Đầu số dịch vụ" id="shortCodeSearch"></td>
                            <td><label for="statusSearch">Trạng thái</label> <select
                                    name="status" id="statusSearch" class="form-control">
                                <option value="">--Chọn trạng thái--</option>
                                <option value="0">Hiệu lực</option>
                                <option value="1">Không hiệu lực</option>
                            </select>
<!--                            <span class="message" hidden th:utext="${message}"></span>-->
                            </td>
                        </tr>
                        <tr class='control'>
                            <td colspan='4' align='center'>
                                <button type="button" class="btn btn-primary button-control"
                                        name="doSearch" id="doSearch">
                                    <i class="fa fa-search"></i> Tìm kiếm
                                </button>&nbsp;
                                <button type="button" id="doNew" data-target="#modal-command-type-create" class="btn btn-primary button-control">
                                    <i class="fa fa-plus-square"></i> Thêm mới</button>&nbsp;
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
            <div class="list-service box box-primary">
                <table class="table table-bordered">
                    <thead>
                    <tr align="center">
                        <th>Mã dịch vụ</th>
                        <th>Tên dịch vụ</th>
                        <th>Đầu số dịch vụ</th>
                        <th>Mô tả</th>
                        <th>Ngày tạo</th>
                        <th>Ngày cập nhập</th>
                        <th>Trạng thái</th>
                        <th>Hành động</th>
                    </tr>
                    </thead>
                    <tbody id="tableBody"></tbody>
                </table>
                <nav aria-label="Page navigation">
                    <ul class="pagination">
                        <li class="page-item"><span id="totalPage"></span></li>
                        <li class="page-item"><span id="pageSize"></span></li>
                        <li class="page-item">
                            <div class="form-group">
                                <select class="form-control" name="selector"
                                        onChange="resetPage()">
                                    <option>10</option>
                                    <option>20</option>
                                    <option>50</option>
                                    <option>100</option>
                                    <option>200</option>
                                </select>
                            </div>
                        </li>
                        <li class="page-item"><span>&nbsp;</span></li>
                        <li class="page-item"><a class="page-link"
                                                 onClick="firstPage()"><i class="fa fa-angle-double-left"></i></a></li>
                        <li class="page-item"><a class="page-link"
                                                 onClick="prevPage()"><i class="fa fa-angle-left"></i></a></li>
                        <li class="page-item"><a id="prePage"></a></li>
                        <li class="page-item"><a class="page-link" id="currentPage">1</a></li>
                        <li class="page-item"><a id="nexPage"></a></li>
                        <li class="page-item"><a class="page-link"
                                                 onClick="nextPage()"><i class="fa fa-angle-right"></i></a></li>
                        <li class="page-item"><a class="page-link"
                                                 onClick="lastPage()"><i class="fa fa-angle-double-right"></i></a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>

<!--modal form create-->
<div class="modal fade in" id="modal-command-type-create" style="display: none;"  data-backdrop="static" data-keyboard="false" >
    <div class="modal-dialog" style="width: 75%; margin-top: 50px; height: auto;">
        <div class="modal-content">
            <div class="modal-header bg-yellow" style="display: flex;">
                <div class="title"><h4 class="modal-title">THÊM MỚI DỊCH VỤ</h4></div>
                <button type="button" data-dismiss="modal" class="close" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="create_table">

            </div>
            <div class="modal-footer" style="text-align: center;">
            </div>
        </div>
    </div>
</div>

<!--modal form edit-->
<div class="modal fade in" id="modal-command-type-edit" style="display: none;"  data-backdrop="static" data-keyboard="false" >
    <div class="modal-dialog" style="width: 75%; margin-top: 50px;">
        <div class="modal-content">
            <div class="modal-header bg-yellow" style="display: flex;">
                <div class="title"><h4 class="modal-title">CHỈNH SỬA DỊCH VỤ</h4></div>
                <button type="button" data-dismiss="modal" class="close" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="edit_table">

            </div>
            <div class="modal-footer" style="text-align: center;">
            </div>
        </div>
    </div>
</div>

<script src="/vasonline/js/service-search.js"></script>
<script src="/vasonline/js/custom_service.js"></script>

<script type="text/javascript">
    $(function () {
        $('#doSearch').click();
    });
    $(document).on("click", ".delete", function (e) {
        e.preventDefault();
        var r = confirm("Bạn muốn xóa dịch vụ?");
        if (r == true) {
            window.location = $(this).attr('href');
        }
    })
    function messageSuccess(){
        toastr.success('Thành công');
    }
    function messageFailed(){
        toastr.error('Thất bại');
    }
    $(document).ready(function () {
        $('#sidebarCollapse').on('click', function () {
            $('#sidebar').toggleClass('active');
        });
        let messageResponse = '[[${message}]]';
        console.log(messageResponse);
        if(messageResponse == 'success'){
            messageSuccess();
        }
        if (messageResponse == 'failed'){
            messageFailed();
        }
    });
</script>
<!--&lt;!&ndash; Info message &ndash;&gt;-->
<!--<a class="btn btn-info" onclick="toastr.info('Hi! I am info message.');">Info message</a>-->
<!--&lt;!&ndash; Warning message &ndash;&gt;-->
<!--<a class="btn btn-warning" onclick="toastr.warning('Hi! I am warning message.');">Warning message</a>-->
<!--&lt;!&ndash; Success message &ndash;&gt;-->
<!--<a class="btn btn-success" onclick="toastr.success('Hi! I am success message.');">Success message</a>-->
<!--&lt;!&ndash; Error message &ndash;&gt;-->
<!--<a class="btn btn-danger" onclick="toastr.error('Hi! I am error message.');">Error message</a>-->
</body>

</html>