<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	  lang="vi">
<head th:replace="fragments/html-head">
	<meta charset="utf-8">
	<title>Quản lý mẫu tin nhắn</title>
</head>
<body>
<input type="hidden" th:name="${_csrf.parameterName}"
	   th:value="${_csrf.token}" />
<div class="wrapper" sec:authorize="isAuthenticated()">
	<!-- Sidebar  -->
	<nav id="sidebar" th:replace="fragments/sidebar"></nav>

	<!-- Page Content  -->
	<div id="content">
		<div class="div-navbar" th:replace="fragments/div-navbar"></div>
		<div class="container-fluid">
			<div class="heading">
				<h4>QUẢN LÝ MẪU TIN NHẮN</h4>
			</div>
			<div class="box box-primary table-responsive"
				 sec:authorize="hasAuthority('Quản lý tài khoản:Xem')">
				<form>
					<table class="table table-sm" id="smstable">
						<tr>
							<td><label for="shortcodeSearch">Tên mẫu</label> <input
									type="text" class="form-control" placeholder="Short code"
									name="shortcodeSearch" id="shortcodeSearch" autocomplete="off"></td>
							<td><label for="statusSearch">Trạng thái</label> <select
									name="statusSearch" id="statusSearch" class="form-control">
								<option value="">--Tất cả--</option>
								<option value="1">Hiệu lực</option>
								<option value="0">Không hiệu lực</option>
							</select></td>
						</tr>
						<tr>
							<td><label for="startdateSearch">Ngày bắt đầu</label>
								<div class="input-group">
									<input type="text" class="form-control"
										   placeholder="Start date" name="startdateSearch" id="startdateSearch" autocomplete="off">
								</div></td>
							<td><label for="enddateSearch">Ngày kết thúc</label>
								<div class="input-group">
									<input type="text" class="form-control" placeholder="End date"
										   name="enddateSearch" id="enddateSearch" autocomplete="off">
								</div></td>
						</tr>
						<tr class='control'>
							<td colspan='4' align='center'>
								<button class="btn btn-primary button-control" type="button"
										id="doSearch">
									<i class="fa fa-search"></i> TÌM KIẾM
								</button>&nbsp;
								<button type="button" id="doNewSearch" data-target="#modal-command-type-create" class="btn btn-primary button-control">
									<i class="fa fa-plus-square"></i> Thêm mới</button>&nbsp;&nbsp;
								<input type="hidden" name="page" id="page" />
								<input type="hidden" name="size" id="size" />
							</td>
						</tr>
					</table>
				</form>
			</div>
			<div class="box box-primary table-responsive"
				 sec:authorize="hasAuthority('Quản lý tài khoản:Xem')">
				<table class="table table-bordered table-sm" id="searchtable">
					<thead>
					<tr align="center">
						<th>Tên mẫu tin</th>
						<th>Nội dung</th>
						<th>Ngày bắt đầu</th>
						<th>Ngày kết thúc</th>
						<th>Trạng thái</th>
						<th>Hành động</th>
					</tr>
					</thead>
					<tbody id="tableBody"></tbody>
				</table>
				<nav aria-label="Page navigation">
					<ul class="pagination">
						<li class="page-item"><span id="totalPage"></span></li>
						<li class="page-item"><span id="pageSize"></span></li>
						<li class="page-item">
							<div class="form-group">
								<select class="form-control" name="selector"
										onChange="resetPage()">
									<option>10</option>
									<option>20</option>
									<option>50</option>
									<option>100</option>
									<option>200</option>
								</select>
							</div>
						</li>
						<li class="page-item"><span>&nbsp;</span></li>
						<li class="page-item"><a class="page-link"
												 onClick="firstPage()"><i class="fa fa-angle-double-left"></i></a></li>
						<li class="page-item"><a class="page-link"
												 onClick="prevPage()"><i class="fa fa-angle-left"></i></a></li>
						<li class="page-item"><a id="prePage"></a></li>
						<li class="page-item"><a class="page-link" id="currentPage">1</a></li>
						<li class="page-item"><a id="nexPage"></a></li>
						<li class="page-item"><a class="page-link"
												 onClick="nextPage()"><i class="fa fa-angle-right"></i></a></li>
						<li class="page-item"><a class="page-link"
												 onClick="lastPage()"><i class="fa fa-angle-double-right"></i></a></li>
					</ul>
				</nav>
			</div>
		</div>
	</div>

	<!--modal form create-->
	<div class="modal fade in" id="modal-command-type-create" style="display: none;"  data-backdrop="static" data-keyboard="false" >
		<div class="modal-dialog modal-xl overflow-auto">
			<div class="modal-content">
				<div class="modal-header bg-yellow" style="display: flex;">
					<div class="title">
						<h4 class="modal-title">THÊM MỚI MẪU TIN NHẮN</h4>
					</div>
					<button type="button" data-dismiss="modal" class="close" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body" id="create_table">

				</div>
				<div class="modal-footer" style="text-align: center;">
				</div>
			</div>

		</div>
	</div>

	<!--modal form edit-->
	<div class="modal fade in" id="modal-command-type-edit" style="display: none;"  data-backdrop="static" data-keyboard="false" >
		<div class="modal-dialog modal-xl overflow-auto" style="width: 100%; margin-top: 50px;">
			<div class="modal-content">
				<div class="modal-header bg-yellow" style="display: flex;">
					<div class="title"><h4 class="modal-title">CHỈNH SỬA MẪU TIN NHẮN</h4></div>
					<button type="button" data-dismiss="modal" class="close" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body" id="edit_table">

				</div>
				<div class="modal-footer" style="text-align: center;">
				</div>
			</div>
		</div>
	</div>

	<div class="modal" id="smsModal">
		<div class="modal-dialog">
			<div class="modal-content rounded-0">

				<!-- Modal Header -->
				<div class="modal-header">
					<h4 class="modal-title">
						Chi tiết tin nhắn: <b class="required"><span id="userId"></span></b>
					</h4>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>

				<!-- Modal body -->
				<div class="modal-body">
					<table class="table" id="viewTable">
						<tr>
							<td>Tên mẫu</td>
							<td class="modal-id"></td>
						</tr>
						<tr>
							<td>Trạng thái</td>
							<td class="modal-status"></td>
						</tr>
						<tr>
							<td>Ngày bắt đầu</td>
							<td class="modal-startDate"></td>
						</tr>
						<tr>
							<td>Ngày kết thúc</td>
							<td class="modal-endDate"></td>
						</tr>
						<tr>
							<td>Mô tả</td>
							<td class="modal-discription"></td>
						</tr>
						<tr>
							<td>Nội dung</td>
							<td class="modal-nd"></td>
						</tr>
					</table>
				</div>

				<!-- Modal footer -->
				<div class="modal-footer">
					<button type="button" class="btn btn-danger" data-dismiss="modal">
						<i class="fa fa fa-times"></i> Close
					</button>
				</div>

			</div>
		</div>
	</div>
</div>
	<link rel="stylesheet"
		href="/vasonline/style/bootstrap-datepicker.min.css">
	<script src="/vasonline/js/bootstrap-datepicker.min.js"></script>
	<script src="/vasonline/js/custom_service.js"></script>
	<script src="/vasonline/js/sms-search.js"></script>
	<script type="text/javascript">
		$(function() {
			$("#doSearch").click();
		});
		function messageSuccess(){
			toastr.success('Thành công');
		}
		function messageFailed(){
			toastr.error('Thất bại');
		}
		$(document).ready(function() {
			$('#sidebarCollapse').on('click', function() {
				$('#sidebar').toggleClass('active');
			});
			let messageResponse = '[[${message}]]';
			console.log(messageResponse);
			if(messageResponse == 'success'){
				messageSuccess();
			}
			if (messageResponse == 'failed'){
				messageFailed();
			}
			$("#startdateSearch").datepicker({
				format : "dd/mm/yyyy",
				todayHighlight : true,
				inline : true
			});
			$("#enddateSearch").datepicker({
				format : "dd/mm/yyyy",
				todayHighlight : true,
				inline : true
			});
		});
</script>
</body>

</html>
