<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      lang="vi">
<head th:replace="fragments/html-head">
    <meta charset="utf-8">
    <title>QUẢN LÝ CHÍNH SÁCH BẢO LÃNH</title>
</head>
<body>
<div class="wrapper" sec:authorize="isAuthenticated()">
    <!-- Sidebar  -->
    <nav id="sidebar" th:replace="fragments/sidebar"></nav>

    <!-- Page Content  -->
    <div id="content">
        <div class="div-navbar" th:replace="fragments/div-navbar"></div>
        <div class="container-fluid">
            <div class="heading">
                <h4>QUẢN LÝ CHÍNH SÁCH BẢO LÃNH</h4>
            </div>
            <div class="box box-primary">
                <form th:action="@{/edit-guarantee-policy}" method='POST' >
                    <table class="table table-condensed col" th:object="${limit}" >
                        <tr>
                            <td><label for="level">Hạn mức % cho phép vượt
                                 <b class="required">(*)</b>
                            </label> <input type="number" class="form-control"
                                            placeholder="Hạn mức" name="limit" id="level" th:field="*{limit}"></td>
                        </tr>
                        <tr class='control'>
                            <td colspan='4' align='center'>
                                <button type="submit" class="btn btn-primary button-control edit"
                                        name="doEdit" id="doUpdate">
                                    <i class="fa fa-pencil" aria-hidden="true"></i>  Cập nhật
                                </button>&nbsp;
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="/vasonline/js/custom_service.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $('#sidebarCollapse').on('click', function() {
            $('#sidebar').toggleClass('active');
        });
        if(notify == 'success'){
            messageSuccess();
        }
        if(notify == 'failed') {
            messageFailed();
        }
    });
    let notify = "[[${message}]]";
    function messageSuccess(){
        toastr.success('Thành công');
    }
    function messageFailed(){
        toastr.error('Thất bại');
    }
</script>
</body>

</html>