<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      lang="vi">
<head th:replace="fragments/html-head">
    <meta charset="utf-8">
    <title>Thêm chức năng hệ thống</title>
</head>
<body>
<div class="wrapper" sec:authorize="isAuthenticated()">
    <div class="box box-primary table-responsive">
        <!-- sec:authorize="hasAuthority('Quản lý chức năng hệ thống:Thêm')"> -->
        <form th:action="@{/admin/system-functional/create}" method='POST' id ="Add_Form">
            <table class="table table-sm">
                <tr>
                    <td><label for="fontAwesomeIconClass">Icon <b class="required">(*)</b></label>
                        <input type="text" class="form-control" placeholder="Icon" name="fontAwesomeIconClass"
                               id="fontAwesomeIconClass" ><span class="required" id="messageIcon"></span>
                    </td>
                </tr>
                <tr>
                    <td><label for="sfName">Tên chức năng <b class="required">(*)</b></label>
                        <input type="text" class="form-control"
                               placeholder="Tên chức năng" name="sfName" id="sfName"><span class="required" id="messagesfName"></span></td>
                </tr>
                <tr>
                    <td><label for="urlController">URL</label>
                        <input type="text" class="form-control"
                               placeholder="URL" name="urlController" id="urlController">
                        <span class="required" id="messageURL"></span>
                    </td>
                </tr>
                    <td><label for="selectStatus">Loại<b class="required">(*)</b></label>
                        <select id="selectStatus" name="status" class="form-control">
                            <option value="">Chọn loại</option>
<!--                            <option th:each="status : ${#numbers.sequence(0, 1)}"-->
<!--                                    th:value="${status}" th:text="${status}"></option>-->
                            <option value="0">Nhóm chức năng</option>
                            <option value="1">Chức năng</option>
                        </select>
                        <span class="required" id="messageStatus"></span>
                    </td>
                </tr>
                <tr>
                    <td><label for="sfFatherName">Tên chức năng cha</label>
                        <select id="sfFatherName" name="sfFather" class="form-control">
                        </select>
                        <span id="messagesfFather"></span>
                    </td>
                </tr>
                <tr class='control'>
                    <td colspan='4' align='center'>
                        <button class="btn btn-primary button-control" id="doAdd"
                                type="submit">
                            <i class="fa fa-plus-square"></i> THÊM MỚI
                        </button>&nbsp;
                        <a type="button" id="doBack"
                           class="btn btn-primary button-control"  data-dismiss="modal"><i
                                class="fa fa-undo" aria-hidden="true"></i> Quay lại</a>&nbsp;
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>
<script src="/vasonline/js/custom_service.js"></script>
<script src="/vasonline/js/system_functional.js"></script>
<script src="/vasonline/js/select2.min.js"></script>
<script type="text/javascript">
    $(document).on("change","#sfFather", function () {
        $("#messagesfFather").text("");
    })
    $(document).ready(function() {
        $('#sidebarCollapse').on('click', function() {
            $('#sidebar').toggleClass('active');
        });
        $('#Add_Form').submit(function(){
            $("#doAdd", this)
                .html("Đang xử lý...")
                .attr('disabled', 'disabled');
            return true;
        });
    });

    $("#doAdd").on('click', function () {
        $("#sfFatherNameData").val($("#sfFatherName option:selected").text())
        $("span.required").html("");
        var format = /[`!@#$%^&*()_+\-=\[\]{};':"\\|,.<>\/?~]/;
        var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        if ($('#Add_Form input[name="fontAwesomeIconClass"]').val() === ''){
            $("#messageIcon").text("Icon bắt buộc nhập");
            $("#messageIcon").focus();
            return false;
        }
        if ($('#Add_Form input[name="sfName"]').val() === ''){
            $("#messagesfName").text("Tên chức năng bắt buộc nhập");
            $("#messagesfName").focus();
            return false;
        }
        if ($('#Add_Form input[name="status"]').val() === ''){
            $("#messagesfStatus").text("Loại bắt buộc nhập");
            $("#messagesfStatus").focus();
            return false;
        }
    })

    $(document).on("change","#selectStatus",function () {
        let status = $("#selectStatus").val() - 1;
        // let linkUrl = "/vasonline/admin/system-functional/get-sfFather?status="+ $("#selectStatus").val();
        let linkUrl = "/vasonline/admin/system-functional/get-sfFather?status="+ status;
        $.ajax({
            url: linkUrl,
            method: 'GET',
            success: function(data) {
                console.log(data);

                var str ='<option value= "">---Lựa chọn chức năng cha----</option>';

                for (let i = 0; i < data.length ; i++) {
                    str += ' <option value= "' + data[i] + '" >' + data[i] + '</option>';
                }
                $("#sfFatherName").html(str);

            },
            error: function(request) {
                alert("The request failed: " + request.responseText);
            }
        })
    });
</script>
</body>

</html>